.title-recent-profiles {
    grid-column: 1 / 2;
    margin: 20px;
    background-color: #003049;
    color: white;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    justify-content: center;
}
.title-recent-profiles h3 {
    font-weight:600;
    font-size: 24px;
}
.title-recent-profiles p {
    font-size: 14px;
}

.registro-reportes {
    /* Registro reportes */
    grid-column: 1 / 2;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registro-reportes h3 {
    margin: 0 0 10px;
}

.registro-reportes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.registro-reportes ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid#f0f0f0;
}
.registro-reportes li img{
    height: 20px;
    margin-right: 10px;
    background-color: #cf9e3e;
    background-size: cover;
}

.central {
    grid-column: 2 / 3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 20px;
    gap: 20px;
    height: 100%;
}

.recent-profiles {
    /*Perfiles creados reciente */
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
}

.recent-profiles h3 {
    
}

.profiles-list {
    
}

.profile-item {
    
}

.profile-details {
    /* detalles del perfil */
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
}

.profile-details h3 {
    
}

.profile-overview {
    
}

.profile-overview img {
   
}

.profile-overview h4 {
   
}

.profile-overview p {
    
}

.pdf-link {
   
}

.account-details {
    
}

.account-details div {
   
}

.account-details div span {
   
}

.account-details div a {
    
}

.recent-activity {
    /* Actividad reciente */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: white;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-activity h3 {
    margin: 0 0 10px;
}

.recent-activity ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.recent-activity ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}
.recent-activity li img {
    height: 20px;
    margin-right: 10px;
}

.search-profiles {
    /* busqueda de perfiles */
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-profiles h3 {
   margin: 0 0 10px;
}

.search-profiles input[type="text"] {
    border-radius: 25px;
    border: 1px solid black;
    outline: none;
    width: 200px;
    height: 25px;
}
.search-profiles .input {
    font-size: 14px;
 }
 .search-profiles .input::placeholder {
    font-size: 10px;
 }
.search-profiles a img {
    height: 20px;
}

.search-profiles h4 {
    font-weight: lighter;
}

.search-profiles ul {
   list-style-position: inherit;
}

.search-profiles ul li {
    list-style: none;
    margin-bottom: 20px;
    
}

.search-profiles ul li a {
   background-color: #003049;
   text-decoration: none;
   color: white;
   border-radius: 15px;
   padding: 5px;
}
