body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.highlight {
    background-color: #ADD8E6;
}
header {
    margin-bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
}

.welcome {
    width: 100%;
    text-align: start;
    background: url('../../img/foro.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    padding-left: 130px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.welcome h1 {
    font-size: 2em;
    margin: 0;
}

.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.welcome input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-container .search-icon {
    position: absolute;
    right: 15px;
    top: 65%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.forum {
    flex: 3;
    margin-right: 20px;
}

.forum .post {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 100%;
}

.forum .post h2 {
    font-size: 0.9em;
    margin: 0;
}

.forum .post p {
    font-size: 0.8em;
    line-height: 1.6;
    margin: 10px 0;
}

.forum .post .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    color: #555;
}

.forum .post .meta .user-info {
    display: flex;
    align-items: center;
}

.forum .post .meta .user-info img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.forum .post .meta span {
    margin: 0 15px;
}

aside {
    flex: 1;
}

.categories,
.ask-question {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.categories {
    margin-top: 20px;
}

.categories h3,
.ask-question h3 {
    margin-top: 0;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories ul li {
    margin: 5px 0;
}

.ask-question input,
.ask-question textarea,
.ask-question select,
.ask-question button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.ask-question textarea {
    height: 100px;
    resize: none;
}

.ask-question select {
    background-color: white;
}

.ask-question button {
    background-color: #003049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.ask-question button:hover {
    background-color: #002535;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

table,
th,
td {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 30px;
    text-align: left;
    background-color: #ffffff;
}

th {
    background-color: #ffffff;
    text-align: center;
}

.message-col {
    width: 40%;
}

.responses-col {
    width: 2%;
    max-width: 100px;
    text-align: center;
}

.user-col {
    width: 8%;
}

.fotoperfil {
    width: 40px;
    height: 40px;
    margin-left: 30%;
}

.name_user {
    font-size: small;
    margin-left: 18%;
}

.responses-col a,
.categories a {
    color: black;
    text-decoration: none;
}

.categories ul li {
    list-style-type: disc;
    list-style-position: inside;
}

table,
th,
td,
h2,
span {
    color: #003049;
}

.meta .category {
    padding-left: 250px;
}

.category {
    font-size: 13px;
}

.date {
    font-size: 13px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-content .social-media {
    display: flex;
    gap: 10px;
}

footer .footer-content .social-media a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
