/* CSS General */
.content {
    display:contents;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: #003049;
}

/* CSS para .guia */
.guia {
    text-align: center; 
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.guia img {
    left: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.guia h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.guia h3 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 16px;
}

.guia p {
    font-size: 22px;
    margin: 0;
}

/* CSS para .information */
.information {
    position: absolute;
    top: 70px;
    right: 90px;
    width: 30%;
    height: auto;
    text-align: center;
}

.information h2 {
    font-size: 29px;
}

.information img {
    width: 100%;
    max-width: 130px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.information p {
    font-size: 22px;
}

/* CSS para .dest */
.dest {
    position: absolute;
    top: 450px;
    right: 90px;
    width: 30%;
    height: auto;
    text-align: center;
}

.dest h2 {
    font-size: 29px;
}

.dest img {
    width: 100%;
    max-width: 317px;
    height: auto;
    margin-bottom: 10px;
}

/* CSS para .pension */
.pension {
    position: absolute;
    left:68%;
    top:750px;
    float: left;
    width: 20%; 
    text-align: center;

}

.pension h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 0px;
}

.pension h3 {
    margin-top: -20px;
    font-weight: lighter;
    font-size: 16px;
}

.pension p {
    font-size: 20px;
}

/* CSS para .img */
.img {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.img h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 0px;
}

.img h3 {
    margin-top: -20px;
    font-weight: lighter;
    font-size: 16px;
}

.img img {
    width: 100%;
    max-width: 370px;
    height: auto;
    margin-bottom: 10px;
}

.img p {
    font-size: 20px;
}

/* CSS para .img2 */
.img2 {
    position: absolute;
    left:32%;
    top:690px;
    width: 30%; 
    text-align: center;
}

.img2 h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 0px;
}

.img2 h3 {
    margin-top: -20px;
    font-weight: lighter;
    font-size: 16px;
}

.img2 img {
    width: 100%;
    max-width: 370px;
    height: auto;
    margin-bottom: 10px;
}

.img2 p {
    margin-left: 20px;
    font-size: 20px;
}

/* CSS para .logout button */
.logout button {
    width: 12%;
    border-radius: 20px;
    margin-top: 20px;
}
