.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    box-sizing: border-box;
}

.guia {

    text-align: center;
    flex: 60%; 
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    color:#003049;
    
}

.guia img {
    width: 800px; 
    height: 370px; 
    margin-bottom: 20px; 
}
.guia h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.guia h3{
    margin-top: 0; 
    font-weight: lighter;
    font-size: 16px;
}
.guia p{
    margin-right: 60px;
    font-size: 22px;
    margin-top: 0; 
}
.information {
    position: relative;
    left: 10px;
    top: -120px;
    float: left;
    width: 30%; 
    text-align: center;
    color:#003049;
}
.information h2{
    font-size: 29px;
}

.information img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px;
    border-radius: 50%; /* Redondea la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.information p {

    font-size: 24px;
    margin-top: 0; /* Elimina el margen superior del párrafo */
}
.logout button{
    left: 25%;
    width: 12%;
    position: relative;
    top: -350px;
    border-radius: 20px;
}
.dest {
    position: relative;
    left: 600px;
    top: -255px;
    float: left;
    width: 30%; 
    text-align: center;
}
.dest h2{
    font-size: 29px;
}
.dest img {
    width: 317px; /* Ajusta el tamaño de la imagen */
    height: 218px; 
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
.pension{
    position: relative;
    left: 265px;
    top: -40px;
    float: left;
    width: 20%; 
    text-align: center;
    color:#003049;
}
.pension h2{
    font-size: 26px;
}
