.content {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .sidebar {
    position: sticky;
    padding-top: 2rem;
    max-width: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 0 auto;
    height: auto;
    overflow-y: auto;
  }
  

  #progreso{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

  

  .sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;

  }
  
  .sidebar ul li {
    margin: 10px 0;
    margin-bottom: 2rem;
  }
  
  .sidebar ul li a {
    margin: 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .sidebar ul li i {
    padding-bottom: 1rem;
    padding-right: 1.5rem;
  }
  
  #cerrarSesion {
    margin-top: 10rem;
  }
  
  .sidebar ul li a:hover {
    color: #00a8ff;
  }

.notifications {
  background-color: #f7f7f9;
  width: 100%;
  height: auto;
  text-align: left;
}

.contenido {
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}


.notification-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info p {
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.actions a:hover {
    text-decoration: underline;
}

.actions .date {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more button {
    background-color: #003049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.load-more button:hover {
    background-color: #003049;
}

.content .section {
  display: none;
}

.content .section.active {
  display: block;
}
