* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Faustina", serif;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 15px;
    max-width: 600px;
  }

  .header-large,
  .footer-large {
    display: none;
  }

  .header-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    color: #003049;
    padding: 1rem;
  }

  .footer-small {
    z-index: 1000;
    background-color: #003049;
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 1rem;
    margin: 1.5rem;
    border-radius: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  .footer-small i {
    color: white;
    font-size: 25px;
    padding: 1.5rem;
    cursor: pointer;
  }

  .header-small i {
    color: #003049;
    font-size: 25px;
    padding: 1rem;
    cursor: pointer;
  }

  .header-small i:not(:first-child) {
    margin-left: auto;
  }

  .header-small img {
    max-width: 40px;
    text-align: right;
    max-height: 40px;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .header-small,
  .footer-small {
    display: none;
  }

  .footer-large {
    position: relative;
    z-index: 1000;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    height: 230px;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    margin-top: 20px;
  }

  .header-large {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003049;
    padding: 10px 45px;
    color: white;
    width: 100%;
    z-index: 9000;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    line-height: 1.2;
  }

  .logo-text h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }

  .logo-text p {
    font-size: 13px;
    margin: 0;
  }

  #filtroBusqueda {
    display: none;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 25px;
    width: 400px;
    margin-left: 30px;
    position: relative;
  }

  .search-bar input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px 0 0 15px;
  }

  .search-bar button {
    background: url("../img/fondoBusqueda.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
  }

  .search-bar button img {
    max-width: 70%;
    max-height: 70%;
  }

  .user-menu {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 160px;
    border: solid 1px white;
  }

  .user-menu img {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-menu span {
    display: none;
  }

  .user-menu .dropdown {
    box-shadow: 0 0 10px black;
    width: 170px;
    background-color: #0a3b55;
    margin-top: 10px;
    margin-left: 12px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    padding-bottom: 10px;
    z-index: 10;
  }

  .user-menu .dropdown img {
    margin-top: 5px;
    height: 13px;
    width: 18px;
  }

  .user-menu .dropdown ul {
    list-style-type: none;
    margin: 6px 0 0 17px;
    padding: 0;
  }

  .user-menu .dropdown ul li {
    padding: 4px;
  }

  .user-menu .dropdown ul li a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
  }

  .user-menu .img-perfil {
    height: 40px;
  }

  .user-menu .img-flecha {
    height: 13px;
    margin-top: 5px;
    margin-left: 2px;
  }

  .dropdown-checkbox {
    display: none;
  }

  .dropdown-checkbox:checked + label + .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
  .header-small,
  .footer-small {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    line-height: 1.2;
  }

  .logo-text h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }

  .logo-text p {
    font-size: 13px;
    margin: 0;
  }

  .footer-large {
    position: relative;
    z-index: 1000;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    height: 230px;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    margin-top: 20px;
  }

  .header-large {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003049;
    padding: 10px 45px;
    color: white;
    width: 100%;
    z-index: 9000;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
  }

  #filtroBusqueda {
    display: none;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 25px;
    width: 400px;
    margin-left: 50px;
    position: relative;
  }

  .search-bar input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px 0 0 15px;
  }

  .search-bar button {
    background: url("../img/fondoBusqueda.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
  }

  .search-bar button img {
    max-width: 70%;
    max-height: 70%;
  }

  .user-menu {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 190px;
    border: solid 1px white;
  }

  .user-menu img {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-menu span {
    font-size: 16px;
    color: #ffffff;
  }

  .user-menu .dropdown {
    box-shadow: 0 0 10px black;
    width: 170px;
    background-color: #0a3b55;
    margin-top: 10px;
    margin-left: 12px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    padding-bottom: 10px;
    z-index: 10;
  }

  .user-menu .dropdown img {
    margin-top: 5px;
    height: 13px;
    width: 18px;
  }

  .user-menu .dropdown ul {
    list-style-type: none;
    margin: 6px 0 0 17px;
    padding: 0;
  }

  .user-menu .dropdown ul li {
    padding: 4px;
  }

  .user-menu .dropdown ul li a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
  }

  .user-menu .img-perfil {
    height: 40px;
  }

  .user-menu .img-flecha {
    height: 13px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .dropdown-checkbox {
    display: none;
  }

  .dropdown-checkbox:checked + label + .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 901px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    line-height: 1.2;
  }

  .logo-text h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }

  .logo-text p {
    font-size: 13px;
    margin: 0;
  }

  .header-small,
  .footer-small {
    display: none;
  }

  .footer-large {
    position: relative;
    z-index: 1000;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    height: 230px;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    margin-top: 20px;
  }

  .header-large {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003049;
    padding: 10px 45px;
    color: white;
    width: 100%;
    z-index: 9000;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  #filtroBusqueda {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
    cursor: pointer;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 25px;
    width: 400px;
    margin-left: 90px;
    position: relative;
  }

  .search-bar input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px 0 0 15px;
  }

  .search-bar button {
    background: url("../img/fondoBusqueda.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 25px;
  }

  .search-bar button img {
    max-width: 70%;
    max-height: 70%;
  }

  .user-menu {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 190px;
    border: solid 1px white;
  }

  .user-menu img {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-menu span {
    font-size: 16px;
    color: #ffffff;
  }

  .user-menu .dropdown {
    box-shadow: 0 0 10px black;
    width: 170px;
    background-color: #0a3b55;
    margin-top: 10px;
    margin-left: 12px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    padding-bottom: 10px;
    z-index: 10;
  }

  .user-menu .dropdown img {
    margin-top: 5px;
    height: 13px;
    width: 18px;
  }

  .user-menu .dropdown ul {
    list-style-type: none;
    margin: 6px 0 0 17px;
    padding: 0;
  }

  .user-menu .dropdown ul li {
    padding: 4px;
  }

  .user-menu .dropdown ul li a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
  }

  .user-menu .img-perfil {
    height: 40px;
  }

  .user-menu .img-flecha {
    height: 13px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .dropdown-checkbox {
    display: none;
  }

  .dropdown-checkbox:checked + label + .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.content h2 {
  color: #003049;
}

.logout button {
  background-color: #003049;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  background-color: #003049;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  width: 168px;
  height: 48;
}

#confirmLogout {
  background-color: white;
  color: white;
}

#cancelLogout {
  background-color: #003049;
  color: white;
}

.footer-resources,
.footer-main,
.footer-legal {
  flex: 1;
}

.footer-resources ul,
.footer-legal ul {
  list-style-type: none;
  padding: 0;
}

.footer-resources ul li,
.footer-legal ul li {
  margin-bottom: 10px;
}

.footer-resources ul li a,
.footer-legal ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-main {
  text-align: center;
}

.footer-main h1 {
  font-size: 40px;
  font-weight: 550;
}

.footer-main h3 {
  font-size: 20px;
  text-align: inherit;
  font-weight: lighter;
  font-family: "Faustina", serif;
  position: relative;
  top: -20px;
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 7px;
  width: 100%;
  border-radius: 15px 0 0 15px;
}
.footer-main p {
  position: relative;
  top: -30px;
  font-size: 10px;
  margin: 20px;
}

.footer-main a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  top: -30px;
}

.footer-main a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-main .linea2 {
  width: 16%;
  position: relative;
  top: -25px;
  height: 1px;
  background-color: #cf9e3e;
  margin: 20px auto;
}

.footer-main .linea3 {
  position: relative;
  top: -20px;
  left: 50%;
  width: 330%;
  height: 1px;
  transform: translateX(-50%);
  background-color: white;
  margin: 10px;
}

.footer-resources {
  text-align: left;
  padding-left: 100px;
}

.footer-resources li {
  font-size: 14px;
}

.footer-resources .linea1 {
  padding-left: 60px;
  border-top: 1px solid #cf9e3e;
  margin-bottom: 10px;
  width: 7%;
}

.footer-legal {
  text-align: right;
  padding-right: 100px;
}

.footer-legal li {
  font-size: 14px;
}

.footer-legal .linea4 {
  border-top: 1px solid #cf9e3e;
  margin-bottom: 10px;
  width: 15%;
  position: relative;
  left: 85%; 
}

