<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law - Seguridad</title>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/dashboard.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
                <div class="logo-text">
                    <h1>JUSTICE</h1>
                    <p>LAW</p>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><img src="../../img/admin/dashboard.png" alt="dashboard">
                        <a href="#">Dashboard</a></li>
                    <li><img src="../../img/admin/herramientasAnalisis.png" alt="herramientasAnalisis">
                        <a href="#">Herramientas análisis</a></li>
                    <li><img src="../../img/admin/gestionRoles.png" alt="gestionRoles">
                        <a href="#">Gestión de roles y permisos</a></li>
                    <li><img src="../../img/admin/administrarPerfiles.png" alt="administrarPerfiles">
                        <a href="#">Administrar perfiles</a></li>
                    <li><img src="../../img/admin/verificarReseñas.png" alt="verificarReseñas">
                        <a href="#">Verificación de reseñas</a></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><img src="../../img/admin/Informaciones.png" alt="Informaciones">
                        <a href="#">Informaciones</a></li>
                    <li><img src="../../img/admin/FAQs.png" alt="FAQs">
                        <a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><img src="../../img/admin/configuraciones.png" alt="configuraciones">
                        <a href="#">Configuración</a></li>
                    <li><img src="../../img/admin/medidasSeguridad.png" alt="medidasSeguridad">
                        <a href="#">Medidas de seguridad</a></li>
                    <li><img src="../../img/admin/ayudaSoporte.png" alt="ayudaSoporte">
                        <a href="#">Ayuda y Soporte</a></li>
                </ul>
            </div>
            <div class="logout">
                <img src="../../img/CerrarSesion.png" alt="CerrarSesion">
                <a href="#">Cerrar Sesión</a>
            </div>
        </aside>
        <header>
            <input type="text" placeholder="Buscar...">
            <div class="user-info">
                <span>Juan Perez</span>
                <img src="../../img/fotoPerfil.png" alt="User Icon">
            </div>
        </header>
        <main class="main-content">
            <section class="welcome">
                <h3>¡Bienvenido al Dashboard!</h1>
                <p>Ha alcanzado sus objetivos de métricas mensuales.</p>
            </section>
            <div class="reports">
                <h3>Registro reportes</h3>
                <ul>
                    <li><img src="../../img/admin/reporte.png" alt="reporte">
                        <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p> Martina Santos ha solicitado una verificación de abogado</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
                    <li><img src="../../img/admin/reporte.png" alt="reporte">
                        <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p>Martina Santos ha solicitado una verificación de abogado</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
                    <li><img src="../../img/admin/reporte.png" alt="reporte">
                        <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p>Martina Santos ha solicitado una verificación de abogado</p></li>
                    <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                        <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
                </ul>
            </div>
            <section class="central">
            <div class="stats">
                <div class="stat">
                    <img src="../../img/admin/personas.png" alt="personas" class="pers">
                    <h2>Total clientes</h2>
                    <p>38940</p>
                    <img src="../../img/admin/graficaTotalClientes.png" alt="graficaTotalClientes" class="graf">
                    <p class="percentage">+40% Este mes</p>
                    <a href="#">Ver todo</a>
                </div>
                <div class="stat">
                    <img src="../../img/admin/personas.png" alt="personas" class="pers2">
                    <h2>Informaciones publicadas</h2>
                    <p>43129</p>
                    <img src="../../img/admin/graficaInformacionesPublicadas.png" alt="graficaInformacionesPublicadas" class="graf">
                    <p class="percentage">+14% Este mes</p>
                    <a href="#">Ver todo</a>
                </div>
                <div class="stat">
                    <img src="../../img/admin/asesoriasProgramadas.png" alt="asesoriasProgramadas" class="pers2">
                    <h2>Asesorías programadas</h2>
                    <p>72613</p>
                    <img src="../../img/admin/graficaAsesoriasProgramadas.png" alt="graficaAsesoriasProgramadas" class="graf">
                    <p class="percentage">+10% Este mes</p>
                    <a href="#">Ver todo</a>
                </div>
                <div class="stat">
                    <img src="../../img/admin/personas.png" alt="personas" class="pers">
                    <h2>Total reseñas</h2>
                    <p>21819</p>
                    <img src="../../img/admin/graficaTotalReseñas.png" alt="graficaTotalReseñas" class="graf">
                    <p class="percentage">+9% Este mes</p>
                    <a href="#">Ver todo</a>
                </div>
            </div>  
            <div class="chart">
                    <h3>Visitantes</h3>
                    <p>Informes</p>
                    <img src="../../img/admin/graficaVisitantes.png" alt="graficaVisitantes">
                    <p>Cliestes</p>
                    <p>Abogados</p>
            </div>
        </section>     
            <div class="chart2">
                <h3>Usuarios por rol</h3>
                <p>Abogados</p>
                <img src="../../img/admin/graficaUsuariosPorRol.png" alt="graficaUsuariosPorRol">
                <p>Clientes</p>
            </div>
            <div class="recent-activity">
                <h3>Actividad reciente</h3>
                <ul>
                    <li><p>Respondió una solicitud de soporte</p>
                        <input type="date" value="2017-06-01" /></li>
                    <li><p>Agregó la información "Cómo hacer una demanda por alimentos"</p>
                        <input type="date" value="2017-06-01" /></li>
                    <li><p>Respondió una solicitud de soporte</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Agregó la información "Cómo hacer una demanda por alimentos"</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Respondió una solicitud de soporte</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Agregó la información "Cómo hacer una demanda por alimentos"</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Respondió una solicitud de soporte</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Agregó la información "Cómo hacer una demanda por alimentos"</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Respondió una solicitud de soporte</p>
                            <input type="date" value="2024-06-01" /></li>
                    <li><p>Agregó la información "Cómo hacer una demanda por alimentos"</p>
                            <input type="date" value="2024-06-01" /></li>
                    </ul>
            </div>  
        </main>
    </div>
</body>
</html>
