<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law - Seguridad</title>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">JUSTICE LAW</div>
            <nav class="menu">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Herramientas análisis</a></li>
                    <li><a href="#">Gestión de roles y permisos</a></li>
                    <li><a href="#">Administrar perfiles</a></li>
                    <li><a href="#">Verificación de reseñas</a></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><a href="#">Informaciones</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="#">Medidas de seguridad</a></li>
                    <li><a href="#">Ayuda y Soporte</a></li>
                </ul>
            </div>
            <div class="logout">
                <a href="#">Cerrar Sesión</a>
            </div>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <header class="header">
                <input type="text" placeholder="Buscar...">
                <div class="user-info">
                    <span>Juan Perez</span>
                    <span class="role">Admin</span>
                </div>
            </header>
            <section>
                <p>cpntenido</p>
            </section>
        </main>
    </div>
</body>
</html>
