<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Faustina&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
            <h1>JUSTICELAW</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button><img src="../../img/Lupai.png" alt="Buscar"></button>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="foro">Foro</a></li>
                <li><a href="Snosotros">Sobre nosotros</a></li>
            </ul>
            <div class="user-menu">
                <img src="../../img/fotoPerfil.png" alt="foto de Perfil">
                <span>Usuario</span>
                <div class="dropdown">
                    <ul>
                        <li><a href="perfil">Perfil</a></li>
                        <li><a href="historial">Historial</a></li>
                        <li><a href="notificaciones">Notificaciones</a></li>
                        <li><a href="configuraciones">Configuraciones</a></li>
                        <li><a href="cerrarSesion">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <h2>Contenido</h2>
           <p>Contenido de las vistas</p>
        </section>
        <section class="logout">
            <button>boton</button>
        </section>
    </main>
    <footer>
        <div class="footer-resources">
            <ul>
                <li><a href="blog">Blog</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-main">
            <h2>JUSTICELAW</h2>
            <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
        </div>
        <div class="footer-legal">
            <ul>
                <li><a href="terminos">Términos de uso</a></li>
                <li><a href="cookies">Política de Cookies</a></li>
                <li><a href="privacidad">Política de privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
