<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="https://kit.fontawesome.com/bfdeae7cfe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-large">
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
            <div class="logo-text">
                <h1>JUSTICE</h1>
                <p>LAW</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="">
            <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro">
            <button>
                <img src="../../img/Lupa.png" alt="Buscar">
            </button>
        </div>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">Iniciar Sesión</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Foro</a>
        </nav>
    </header>

    <header class="header-small">
            <i class="fa-solid fa-bars"></i>
    </header>
    <main>
        <section class="content">
            <h2>Contenido</h2>
           <p>Contenido de las vistas</p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repellendus, repellat distinctio debitis, veritatis natus rerum officiis itaque blanditiis libero consequatur voluptatibus autem est ratione tenetur fuga maxime alias asperiores!
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid sequi ad dignissimos ducimus, corrupti velit quibusdam voluptate optio obcaecati cupiditate? Nihil voluptate repellendus voluptas rem aperiam architecto doloribus quis!
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus doloribus laudantium sint qui velit sed modi. Ex officia, ullam ipsa perspiciatis tempora adipisci molestias, ea mollitia accusamus, eum culpa. Ea!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, provident. Ratione eos porro minus doloremque quod facere ipsum necessitatibus magni dicta impedit ipsam, amet nostrum corporis aut inventore itaque totam!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet perspiciatis autem veniam consectetur perferendis maxime. Nihil nesciunt qui assumenda minima soluta odit exercitationem ex magnam quis. Temporibus impedit odio molestias.
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo eius doloremque exercitationem fugit minus possimus modi corrupti quas repellat. Sapiente, fugiat. Ex, officiis possimus rem cumque tempore accusamus esse maiores.
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non rerum aspernatur excepturi, fugit suscipit officia obcaecati debitis veniam culpa sed. Nemo delectus ut dolorum accusantium minima mollitia! Atque, maxime tempore!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda vitae quia veritatis, ut expedita ducimus debitis eligendi quos nesciunt in harum eum est optio, animi aperiam ratione placeat doloremque.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur excepturi laudantium, itaque facilis animi sunt consequatur. Nobis provident eveniet sed accusamus, accusantium nisi voluptate totam suscipit quisquam corporis! Cupiditate?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime ab doloribus quidem cupiditate. Fuga vitae dolorem alias veniam aspernatur, tempore cumque earum! Facere itaque dolor illo reiciendis, aliquam hic!
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis animi ut consequatur nesciunt quia repudiandae tenetur id qui asperiores! Laudantium culpa soluta quaerat quo ducimus nam accusantium consequuntur illo voluptatum.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis expedita voluptatum eius vel debitis harum reiciendis quisquam atque nobis molestias doloremque delectus consequuntur suscipit optio culpa ipsa, vero repudiandae?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat repellendus, repellat distinctio debitis, veritatis natus rerum officiis itaque blanditiis libero consequatur voluptatibus autem est ratione tenetur fuga maxime alias asperiores!
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid sequi ad dignissimos ducimus, corrupti velit quibusdam voluptate optio obcaecati cupiditate? Nihil voluptate repellendus voluptas rem aperiam architecto doloribus quis!
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus doloribus laudantium sint qui velit sed modi. Ex officia, ullam ipsa perspiciatis tempora adipisci molestias, ea mollitia accusamus, eum culpa. Ea!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, provident. Ratione eos porro minus doloremque quod facere ipsum necessitatibus magni dicta impedit ipsam, amet nostrum corporis aut inventore itaque totam!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet perspiciatis autem veniam consectetur perferendis maxime. Nihil nesciunt qui assumenda minima soluta odit exercitationem ex magnam quis. Temporibus impedit odio molestias.
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo eius doloremque exercitationem fugit minus possimus modi corrupti quas repellat. Sapiente, fugiat. Ex, officiis possimus rem cumque tempore accusamus esse maiores.
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non rerum aspernatur excepturi, fugit suscipit officia obcaecati debitis veniam culpa sed. Nemo delectus ut dolorum accusantium minima mollitia! Atque, maxime tempore!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda vitae quia veritatis, ut expedita ducimus debitis eligendi quos nesciunt in harum eum est optio, animi aperiam ratione placeat doloremque.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur excepturi laudantium, itaque facilis animi sunt consequatur. Nobis provident eveniet sed accusamus, accusantium nisi voluptate totam suscipit quisquam corporis! Cupiditate?
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime ab doloribus quidem cupiditate. Fuga vitae dolorem alias veniam aspernatur, tempore cumque earum! Facere itaque dolor illo reiciendis, aliquam hic!
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis animi ut consequatur nesciunt quia repudiandae tenetur id qui asperiores! Laudantium culpa soluta quaerat quo ducimus nam accusantium consequuntur illo voluptatum.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis expedita voluptatum eius vel debitis harum reiciendis quisquam atque nobis molestias doloremque delectus consequuntur suscipit optio culpa ipsa, vero repudiandae?
        </section>
        <section class="logout">
            <button>boton</button>
        </section>
    </main>
    <footer class="footer-large">
        <div class="footer-resources">
            <ul>
                <h3>Recursos</h3>
                <div class="linea1"></div>
                <li><a href="blog">Blog</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-main">
            <h1>JUSTICE</h1>
                <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/" >
            <img src="../../img/Instagram.png" alt="Instagram">
        </a> 
        <a href="https://www.facebook.com/">
            <img src="../../img/Facebook.png" alt="Facebook">
        </a>        
        <a href="https://www.youtube.com/">
            <img src="../../img/Youtube.png" alt="Youtube">
        </a>
        <a href="https://www.x.com/">
            <img src="../../img/Twiter.png" alt="Twiter">
        </a>
        <a href="https://www.linkedin.com/">
                <img src="../../img/Linkedin.png" alt="Linkedin">
        </a>
            <div class="linea3"></div>
            <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
            
        </div>
        <div class="footer-legal">
            <ul>
                <h3>Legal</h3>
                <div class="linea4"></div>
                <li><a href="terminos">Términos de uso</a></li>
                <li><a href="cookies">Política de Cookies</a></li>
                <li><a href="privacidad">Política de privacidad</a></li>
            </ul>
        </div>
    </footer>

    <footer class="footer-small">
        <i class="fa-solid fa-house"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-users"></i>
    </footer>
</body>
</html>
