<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law - Seguridad</title>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/herramientasAnalisis.css">
    <script src="https://kit.fontawesome.com/bfdeae7cfe.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <header>
            <input type="text" placeholder="Buscar...">
            <div class="user-info">
                <span>Juan Perez</span>
                <img src="../../img/fotoPerfil.png" alt="User Icon">
            </div>
        </header>
        <aside class="sidebar">
            <div class="logo">
                <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
                <div class="logo-text">
                    <h1>JUSTICE</h1>
                    <p>LAW</p>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><img src="../../img/admin/dashboard.png" alt="dashboard">
                        <a href="#">Dashboard</a></li>
                    <li><img src="../../img/admin/herramientasAnalisis.png" alt="herramientasAnalisis">
                        <a href="#">Herramientas análisis</a></li>
                    <li><img src="../../img/admin/gestionRoles.png" alt="gestionRoles">
                        <a href="#">Gestión de roles y permisos</a></li>
                    <li><img src="../../img/admin/administrarPerfiles.png" alt="administrarPerfiles">
                        <a href="#">Administrar perfiles</a></li>
                    <li><img src="../../img/admin/verificarReseñas.png" alt="verificarReseñas">
                        <a href="#">Verificación de reseñas</a></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><img src="../../img/admin/Informaciones.png" alt="Informaciones">
                        <a href="#">Informaciones</a></li>
                    <li><img src="../../img/admin/FAQs.png" alt="FAQs">
                        <a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><img src="../../img/admin/configuraciones.png" alt="configuraciones">
                        <a href="#">Configuración</a></li>
                    <li><img src="../../img/admin/medidasSeguridad.png" alt="medidasSeguridad">
                        <a href="#">Medidas de seguridad</a></li>
                    <li><img src="../../img/admin/ayudaSoporte.png" alt="ayudaSoporte">
                        <a href="#">Ayuda y Soporte</a></li>
                </ul>
            </div>
            <div class="logout">
                <img src="../../img/CerrarSesion.png" alt="CerrarSesion">
                <a href="#">Cerrar Sesión</a>
            </div>
        </aside>
        <main>
            <section class="contentHA">
                  <div class="columnas">
                    <div class="columna-izquierda">
                        <div class="tabla">
                            <div class="titulo">
                                <h4>Registro de actividad</h4>  <a href="../herramientas-analisis/herramientasFiltro.html"><img src="../../img/FiltroBusqueda.png" alt="FiltroBusqueda" ></a> 
                            </div>
                            <table>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Email</th>
                                    <th>Fecha y hora</th>
                                    <th>Accion realizada</th>
                                </tr>
                                <tr>
                                    <td>Juan Martinez <br> Cliente</td>
                                    <td id="email"> <i class="fa-solid fa-envelope"></i><span> juanmar123@gmail.com</span></td>
                                    <td>Mar 20, 2021 - 10:24 pm</td>
                                    <td>Inicio de sesión</td>
                                </tr>
                                <tr>
                                    <td>Juan Martinez <br> Cliente</td>
                                    <td> <i class="fa-solid fa-envelope"></i> juanmar123@gmail.com</td>
                                    <td>Mar 20, 2021 - 10:24 pm</td>
                                    <td>Inicio de sesión</td>
                                </tr>
                                <tr>
                                    <td>Juan Martinez <br> Cliente</td>
                                    <td> <i class="fa-solid fa-envelope"></i> juanmar123@gmail.com</td>
                                    <td>Mar 20, 2021 - 10:24 pm</td>
                                    <td>Inicio de sesión</td>
                                </tr>
                                <tr>
                                    <td> Juan Martinez <br> Cliente</td>
                                    <td> <i class="fa-solid fa-envelope"></i> juanmar123@gmail.com</td>
                                    <td>Mar 20, 2021 - 10:24 pm</td>
                                    <td>Inicio de sesión</td>
                                </tr>
                                <tr>
                                    <td>Juan Martinez <br> Cliente</td>
                                    <td> <i class="fa-solid fa-envelope"></i> juanmar123@gmail.com</td>
                                    <td>Mar 20, 2021 - 10:24 pm</td>
                                    <td>Inicio de sesión</td>
                                </tr>
                        
                  
                            </table>
                   
                        </div>
                        <div class="graficas">
                            <div class="grafica">
                                <h4>Registro de actividad</h4>
                                <img src="../../img/grafica1.png" alt="grafica1">
                            </div>
                          <div class="grafica">
                            <h4>Actividad de inicio de sesión</h4>
                            <img src="../../img/grafica2.png" alt="grafica2">
                            </div>
                        </div>
                    </div>
                    <div class="columna-derecha">
                        <div class="actividad-sospechosa">
                            <div class="titulo">
                                <h4>Alertas de actividad sospechosa</h4>  <a href="../herramientas-analisis/herramientasFiltro.html"><img src="../../img/FiltroBusqueda.png" alt="FiltroBusqueda" ></a> 
                            </div>
                                <table>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Fecha y hora</th>
                                        <th>Alerta</th>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                  
                                  
                                
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                    <tr>
                                        <td>Juan Martinez <br> Cliente</td>
                                        <td>Mar 20, 2021 - 10:24 pm</td>
                                        <td>Se han detectado 5 intentos de inicio de sesión fallidos para el usuario en los últimos 15 minutos</td>
                                    </tr>
                                </table>     
                        </div>
                    </div>
                  </div>
            </section>
        </main>

    </div>
</body>
</html>
