<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/home.css" />
    <link rel="stylesheet" href="../../css/foro.css" />


    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <title>Justice Law Forum</title>
    <style>
  
    </style>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
            <div class="logo-text">
                <h1>JUSTICE</h1>
                <p>LAW</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="" />
            <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro" />
            <button>
                <img src="../../img/Lupa.png" alt="Buscar" />
            </button>
        </div>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">Iniciar Sesión</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Foro</a>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h1>¡Bienvenido al foro!</h1>
            <p>Infórmate y comparte tu opinión con los demás.</p>
            <input type="text" placeholder="Buscar en el foro..." />
        </section>

        <div class="content">
            <div class="forum">
                <table>
                    <tr>
                        <th class="message-col">Mensaje</th>
                        <th class="responses-col">Respuestas</th>
                        <th class="user-col">Usuario</th>
                    </tr>
                    <tr>
                        <td class="message-col">
                            <h2>¿Qué pasos debo seguir si me lesiono en un accidente de tráfico y el culpable se da a la fuga?</h2>
                            <p>Recientemente estuve involucrado en un accidente de tráfico donde el otro conductor se dio a la fuga. Sufrí lesiones y daños en mi vehículo. ¿Cuáles son mis opciones legales en esta situación? ¿Cómo puedo buscar compensación por mis lesiones y los daños a mi propiedad si el culpable no ha sido identificado?</p>
                            <div class="meta">
                                <span class="date">30 de marzo, 2024</span>
                                <span class="category">Categoría: Legal</span>
                            </div>
                        </td>
                        <td class="responses-col"><a href="">2</a></td>
                        <td class="user-col">
                            <div class="user-info">
                                <img src="../../img/fotoPerfil.png" class="fotoperfil" alt="Andrés López" />
                                <br>
                                <span class="name_user">Andrés López</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="message-col">
                            <h2>¿Qué pasos debo seguir si me lesiono en un accidente de tráfico y el culpable se da a la fuga?</h2>
                            <p>Recientemente estuve involucrado en un accidente de tráfico donde el otro conductor se dio a la fuga. Sufrí lesiones y daños en mi vehículo. ¿Cuáles son mis opciones legales en esta situación? ¿Cómo puedo buscar compensación por mis lesiones y los daños a mi propiedad si el culpable no ha sido identificado?</p>
                            <div class="meta">
                                <span class="date">30 de marzo, 2024</span>
                                <span class="category">Categoría: Legal</span>
                            </div>
                        </td>
                        <td class="responses-col"><a href="foro_respuestas.html">2</a></td>
                        <td class="user-col">
                            <div class="user-info">
                                <img src="../../img/fotoPerfil.png" class="fotoperfil" alt="Andrés López" />
                                <br>
                                <span class="name_user">Andrés López</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="message-col">
                            <h2>¿Qué pasos debo seguir si me lesiono en un accidente de tráfico y el culpable se da a la fuga?</h2>
                            <p>Recientemente estuve involucrado en un accidente de tráfico donde el otro conductor se dio a la fuga. Sufrí lesiones y daños en mi vehículo. ¿Cuáles son mis opciones legales en esta situación? ¿Cómo puedo buscar compensación por mis lesiones y los daños a mi propiedad si el culpable no ha sido identificado?</p>
                            <div class="meta">
                                <span class="date">30 de marzo, 2024</span>
                                <span class="category">Categoría: Legal</span>
                            </div>
                        </td>
                        <td class="responses-col"><a href="">2</a></td>
                        <td class="user-col">
                            <div class="user-info">
                                <img src="../../img/fotoPerfil.png" class="fotoperfil" alt="Andrés López" />
                                <br>
                                <span class="name_user">Andrés López</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <aside>
                <div class="categories">
                    <h3>Categorías</h3>
                    <ul>
                        <li><a href="foro_familiar.html">Familiar</a></li>
                        <br>
                        <li><a href="#">Legal</a></li>
                        <br>
                        <li><a href="#">Laboral</a></li>
                        <br>
                        <li><a href="#">Propiedad</a></li>
                        <br>
                        <li><a href="#">Vivienda</a></li>
                        <br>
                        <li><a href="#">Negocio</a></li>
                        <br>
                        <li><a href="#">Inmigración</a></li>
                        <br>
                        <li><a href="#">Consumidor</a></li>
                        <br>
                        <li><a href="#">Propiedad Intelectual</a></li>
                    </ul>
                </div>
                <div class="ask-question">
                    <h3>Escribe tu duda....</h3>
                    <input type="text" placeholder="Asunto:" />
                    <textarea placeholder="Contenido:"></textarea>
                    <select>
                        <option value="">Categoría</option>
                        <option value="familiar">Familiar</option>
                        <option value="legal">Legal</option>
                        <option value="laboral">Laboral</option>
                        <option value="propiedad">Propiedad</option>
                        <option value="vivienda">Vivienda</option>
                        <option value="negocio">Negocio</option>
                        <option value="inmigracion">Inmigración</option>
                        <option value="consumidor">Consumidor</option>
                        <option value="propiedad-intelectual">Propiedad Intelectual</option>
                    </select>
                    <button>Publicar</button>
                </div>
            </aside>
        </div>
    </main>

    <footer>
        <div class="footer-resources">
          <ul>
            <h3>Recursos</h3>
            <div class="linea1"></div>
            <li><a href="blog">Blog</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-main">
          <h1>JUSTICE</h1>
          <h3>LAW</h3>
          <div class="linea2"></div>
          <a href="https://www.instagram.com/">
            <img src="../../img/Instagram.png" alt="Instagram" />
          </a>
          <a href="https://www.facebook.com/">
            <img src="../../img/Facebook.png" alt="Facebook" />
          </a>
          <a href="https://www.youtube.com/">
            <img src="../../img/Youtube.png" alt="Youtube" />
          </a>
          <a href="https://www.x.com/">
            <img src="../../img/Twiter.png" alt="Twiter" />
          </a>
          <a href="https://www.linkedin.com/">
            <img src="../../img/Linkedin.png" alt="Linkedin" />
          </a>
          <div class="linea3"></div>
          <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
        </div>
        <div class="footer-legal">
          <ul>
            <h3>Legal</h3>
            <div class="linea4"></div>
            <li><a href="terminos">Términos de uso</a></li>
            <li><a href="cookies">Política de Cookies</a></li>
            <li><a href="privacidad">Política de privacidad</a></li>
          </ul>
        </div>
      </footer>
</body>

</html>
