<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/lawyersProfile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM5ef8r5PZ6pTtXJzwczR5F8HQUqxbv69k9jG7H" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>

      <div class="user-menu">
        <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="perfil">Perfil</a></li>
            <li><a href="historial">Historial</a></li>
            <li><a href="notificaciones">Notificaciones</a></li>
            <li><a href="configuraciones">Configuraciones</a></li>
            <li><a href="cerrarSesion">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <section class="content">
        <div class="perfil">
          <div class="banner">
          <img id="fotoPerfil" src="../../img/fotoPerfil.jfif" alt="foto" />
          <h3>David Astrada</h3>
          <div class="stars">
            <img src="../../img/star-solid.svg" alt="star">
            <img src="../../img/star-solid.svg" alt="star">
            <img src="../../img/star-solid.svg" alt="star">
            <img src="../../img/star-solid.svg" alt="star">
            <img src="../../img/star-solid-white.svg" alt="star white">
          </div>

          </div>
          <nav class="profile-nav">
            <ul>
              <li><a href="../ver_perfil/perfil_abogado.html" class="active">Sobre mi</a></li>
              <li><a href="#">Hoja de vida</a></li>
              <li><a href="../ver_perfil/reseñas.html">Reseñas</a></li>
            </ul>
            <div class="indicator"></div>
          </nav>

        <div class="datos">

        <h2>Informacion Personal</h2>
        <p>Contacto &ensp;&ensp;&ensp;&ensp;+57 3132307635</p>
        <p>DNI &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;1061702424</p>
        <p>Email &ensp;&ensp;&ensp;&ensp; &ensp;davidastr45@gmail.com</p>
        <p>Pais &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Colombia</p>
        <p> Ciudad &ensp;&ensp;&ensp;&ensp;&ensp;Popayan</p>
        <p>Nombre <br>Consultorio &ensp;&ensp;&ensp;LeyEs</p>
      </div>
      <div class="presentation">
        <h2>Presentacion</h2>
        <p>Especializado en derecho civil y familiar, mi objetivo es 
          proporcionar soluciones legales efectivas y comprensibles para
          mis clientes. Fuera del trabajo, disfruto de la lectura y el tiempo
          al aire libre. Estoy aquí para ayudarte con tus necesidades legales.</p>
      </div>
      <div class="practice">
        <h2>Áreas de practica</h2>
      </div>
      <div class="civ"></div>
        <img src="../../img/derechocivil.png" alt="derechocivil">
        <p>Derecho civil</p>
        <img src="../../img/derechofamiliar.png" alt="derechofamiliar">
        <p>Derecho familiar</p>
      </div>
      </section>
    </main>
    <footer>
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
