<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png" 
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Iniciar Sesión</a>
        <a href="#">Sobre nosotros</a>
        <a href="#">Foro</a>
      </nav>
    </header>
    <section class="banner">
      <div class="content-banner">
        <h1>¿Quiénes somos?</h1>
        <p>
          Somos una comunidad con el objetivo de <br />
          ayudar a nuestros usuarios a conocer como <br />
          proseguir en sus casos referentes a la rama <br />
          judicial presentados en el dia a dia</p>
          <a href="#">Registrarse</a>
      </div>
    </section>
    <main>
        <section class="carousel">
          <div class="carousel-slide">
            <div class="slide">
              <img src="../../img/testamento.png" alt="carousel1">
            </div>
          <div class="slide">
            <img src="../../img/divorcio.png" alt="carousel2">
            </div>
          <div class="slide">
            <img src="../../img/carrusel3.png" alt="carousel3">
            </div>
          <div class="slide">
            <img src="../../img/homeDos.png" alt="carousel4">
            </div>
          <div class="slide">
            <img src="../../img/testamento.png" alt="carousel1">
            </div>
        <div class="slide">
          <img src="../../img/divorcio.png" alt="carousel2">
          </div>
        <div class="slide">
          <img src="../../img/carrusel3.png" alt="carousel3">
          </div>
        <div class="slide">
          <img src="../../img/homeDos.png" alt="carousel4">
          </div>
        </div>
        </section>

        <section id="tranding">
          <div class="container">
            <div class="swiper tranding-slider">
              <div class="swiper-wrapper">
               
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <img src="../../img/divorcio.png" alt="Tranding">
                  </div>
                  
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h2>Nombre 1</h2>
                      <p>Descripción 1</p>
                      <p>Más información 1</p>
                    </div>
                    <div class="tranding-slide-content-bottom">
                      <h2 class="food-name">
                        divorcio
                      </h2>
                    </div>
                  </div>
                </div>
              
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <img src="../../img/testamento.png" alt="Tranding">
                  </div>
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h2>Nombre 1</h2>
                      <p>Descripción 1</p>
                      <p>Más información 1</p>
                    </div>
                    <div class="tranding-slide-content-bottom">
                      <h2 class="food-name">
                        testamento
                      </h2>
        
                     
                    </div>
                  </div>
                </div>
               
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <img src="../../img/homeDos.png" alt="Tranding">
                  </div>
                  <div class="tranding-slide-content">
                    <div class="tranding-slide-content-bottom">
                      <h2 class="food-name">
                        home dos
                      </h2>
                      
                    </div>
                  </div>
                </div>
                
              </div>
    
              <div class="tranding-slider-control">
                <div class="swiper-button-prev slider-arrow">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="swiper-button-next slider-arrow">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="swiper-pagination"></div>
              </div>
    
            </div>
          </div>
        </section>
    
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="script.js"></script>
        
        <section class="informacion">
          <div class="content-informacion">
            <img src="../../img/homeTres.png" alt="">
            <h1>¿Que hacemos?</h1>
            <p>Principalmente facilitamos el acceso a la información <br>
                referente a la rama judicial y a través de un foro <br>
                buscamos aclarar las dudas y necesidades de nuestros <br>
                usuarios en sus procesos legales. Como segundo punto <br>
                ofrecemos el servicio de accesorias con el objetivo de <br>
                que los abogados registrados obtengan una experiencia <br>
                empirica y un ingreso extra a travez de nuestra web</p>
        </div>
        </section>
    </main>
    <footer>
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>