<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <header class="header-large">
      <div class="logo">
          <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
          <div class="logo-text">
              <h1>JUSTICE</h1>
              <p>LAW</p>
          </div>
      </div>
      <div class="search-bar">
          <input type="text" placeholder="">
          <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro">
          <button>
              <img src="../../img/Lupa.png" alt="Buscar">
          </button>
      </div>
      <nav class="nav-links">
          <a href="#">Home</a>
          <a href="#">Iniciar Sesión</a>
          <a href="#">Sobre nosotros</a>
          <a href="# " id="forum-link">Foro</a>
      </nav>
  </header>

  <header class="header-small">
      <input type="checkbox" id="dropdownMenu" class="dropdownMovil-checkbox" />
      <label for="dropdownMenu">
        <i class="fa-solid fa-bars"></i>
      </label>

      <div class="dropdownMovil">

        <i class="fa-solid fa-chevron-left"></i>
    
        <div class="profile-info">
            <img id="fotoPerfil" src="../../img/fotoPerfil.png" alt="fotoPerfil" />
            <div class="profile-details">
              <a href="../registro/register.html">Registrarse</a>
            </div>

          </div>
  
        <ul>
            <hr>
          <li>
            <a href="../home/home.html">
              <i class="fa-solid fa-house"></i>Home</a
            >
          </li>
          <li>
            <a href="../perfil_usuario/perfil_creado.html"><i class="fa-regular fa-user"></i>Perfil</a>
        </li>
        <li>
            <a href="../notification/notification.html"><i class="fa-regular fa-bell"></i>Notificaciones</a>
        </li>
        <li>
            <a href="../historial/historial.html"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
        </li>
        <hr>
        <li>
            <a href="../configuracion/configuracion.html"><i class="fa-solid fa-gear"></i>Configuracion</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-circle-info"></i></i>Quienes somos</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-question"></i></i>Ayuda</a>
        </li>
        <hr>
        </ul>
      </div>
  </header>
    <section class="banner">
      <div class="content-banner">
        <h1>¿Quiénes somos?</h1>
        <p>
          Somos una comunidad con el objetivo de <br />
          ayudar a nuestros usuarios a conocer como <br />
          proseguir en sus casos referentes a la rama <br />
          judicial presentados en el dia a dia</p>
          <a href="../registro/register.html">Registrarse</a>
      </div>
    </section>
    <main>
     
        <section id="tranding">
          <div class="container">
            <div class="swiper tranding-slider">
              <div class="swiper-wrapper">
               
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <a href="../Information/informacion_divorcio.html"><img src="../../img/Divorcio.jpg" alt="Tranding">
                    </a>
                  </div>
                  
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h3>GUÍA SOBRE DIVORCIO</h3>
                      <hr>
                      <p>La guía sobre divorcio brinda información sobre cómo proceder durante la separación matrimonial, incluyendo consejos legales y emocionales.</p>
                      <button>Más información...</button>
                    </div>
                   
                  </div>
                </div>
              
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <a href="../Information/informacion_despido.html"><img src="../../img/Despido.jpg" alt="Tranding">
                    </a>
                  </div>
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h3>REDACTAR UNA CARTA DE DESPIDO</h3>
                      <hr>
                      <p>Descubre los pasos clave para redactar una carta de despido correctamente. Te explicamos cómo estructurarla, qué detalles legales incluir y cómo manejar esta situación de forma profesional y clara.</p>
                      <button>Más información...</button>
                    </div>
                   
                  </div>
                </div>
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <a href="../Information/informacion_accidente.html"><img src="../../img/Accidente.png" alt="Tranding">
                    </a>
                  </div>
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h3>GUÍA PARA ACCIDENTES DE TRÁFICO</h3>
                      <hr>
                      <p>Descubre los pasos clave para manejar un accidente de tráfico, desde la documentación hasta las acciones legales necesarias.</p>
                      <button>Más información...</button>
                    </div>
                   
                  </div>
                </div>
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <a href="../Information/informacion_testamento.html"><img src="../../img/Testamento.jpg" alt="Tranding">
                    </a>
                  </div>
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h3>COMO REDACTAR UN TESTAMENTO</h3>
                      <hr>
                      <p>Aprende a estructurar y redactar un testamento de forma clara y legalmente válida, asegurando que tus deseos sean respetados y evitando futuros conflictos familiares.</p>
                      <button>Más información...</button>
                    </div>
                   
                  </div>
                </div>
               
                <div class="swiper-slide tranding-slide">
                  <div class="tranding-slide-img">
                    <a href="../Information/derecho_consumidor.html"><img src="../../img/DerechosConsumidor.jpg" alt="Tranding">
                    </a>
                  </div>
                  <div class="tranding-slide-content">
                    <div class="info">
                      <h3>DERECHOS DEL CONSUMIDOR</h3>
                      <hr>
                      <p>Infórmate sobre tus derechos como consumidor y cómo defenderte en situaciones de compra y servicio, desde garantías y devoluciones hasta reclamaciones efectivas contra productos defectuosos.</p>
                       <button>Más información...</button>
                    </div>
                   
                  </div>
                    </div>

                    <div class="swiper-slide tranding-slide">
                      <div class="tranding-slide-img">
                        <a href="../Information/informacion_pension.html"><img src="../../img/PensionAliemnticia.jpg" alt="Tranding">
                        </a>
                      </div>
                      <div class="tranding-slide-content">
                        <div class="info">
                          <h3>PENSIÓN ALIMENTICIA</h3>
                          <hr>
                          <p>Entiende los aspectos esenciales de la pensión alimenticia, incluyendo cómo solicitarla, cómo se calcula y cómo administrarla correctamente para asegurar el bienestar de los dependientes.</p>
                            <button>Más información...</button>
                        </div>
                       
                      </div>
                    </div>
                    
                    <div class="swiper-slide tranding-slide">
                      <div class="tranding-slide-img">
                        <a href="../Information/informacion_arrendamiento.html"><img src="../../img/Arrendamiento.jpg" alt="Tranding">
                        </a>
                      </div>
                      <div class="tranding-slide-content">
                        <div class="info">
                          <h3>PROBLEMAS DE ARRENDAMIENTO</h3>
                          <hr>
                          <p>Conoce tus derechos y cómo resolver conflictos comunes en el arrendamiento, incluyendo problemas con el contrato, el mantenimiento del inmueble y la protección legal del inquilino.</p>
                           <button>Más información...</button>
                        </div>
                       
                      </div>
                    </div>
                    <div class="swiper-slide tranding-slide">
                      <div class="tranding-slide-img">
                        <a href="../Information/informacion_negocio.html"><img src="../../img/IniciarNegocio.jpg" alt="Tranding">
                        </a>
                      </div>
                      <div class="tranding-slide-content">
                        <div class="info">
                          <h3>INICIAR UN NEGOCIO LEGALMENTE</h3>
                          <hr>
                          <p>Explora los requisitos y aspectos legales necesarios para establecer y operar un nuevo negocio, desde la constitución legal hasta el cumplimiento de normativas y licencias.</p>
                          <button>Más información...</button>
                        </div>
                       
                      </div>
                    </div>


                    <div class="swiper-slide tranding-slide">
                      <div class="tranding-slide-img">
                        <a href="../Information/derechos_trabajadores.html"><img src="../../img/DerechosTrabajadores.jpg" alt="Tranding">
                        </a>
                      </div>
                      <div class="tranding-slide-content">
                        <div class="info">
                          <h3>DERECHOS LABORALES</h3>
                          <hr>
                          <p>Infórmate sobre tus derechos como trabajador, incluyendo condiciones laborales, salarios, seguridad en el trabajo y cómo actuar en caso de conflictos con el empleador para proteger tus intereses.</p>
                          <button>Más información...</button>
                        </div>
                       
                      </div>
                        </div>
                  </div>
                </div>
                
              </div>
    
              <div class="tranding-slider-control">
                <div class="swiper-button-prev slider-arrow">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="swiper-button-next slider-arrow">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
              </div>
    
            </div>
          </div>
        </section>
    
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="script.js"></script>
        
        <section class="informacion">
          <div class="content-informacion">
            <img src="../../img/homeTres.png" alt="">
            <h1>¿Que hacemos?</h1>
            <p>Principalmente facilitamos el acceso a la información <br>
                referente a la rama judicial y a través de un foro <br>
                buscamos aclarar las dudas y necesidades de nuestros <br>
                usuarios en sus procesos legales. Como segundo punto <br>
                ofrecemos el servicio de accesorias con el objetivo de <br>
                que los abogados registrados obtengan una experiencia <br>
                empirica y un ingreso extra a travez de nuestra web</p>
        </div>
        </section>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>

  </body>
</html>