<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/admin-profiles.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
                <div class="logo-text">
                    <h1>JUSTICE</h1>
                    <p>LAW</p>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><img src="../../img/admin/dashboard.png" alt="dashboard"><a href="#">Dashboard</a></li>
                    <li><img src="../../img/admin/herramientasAnalisis.png" alt="herramientasAnalisis"><a href="#">Herramientas análisis</a></li>
                    <li><img src="../../img/admin/gestionRoles.png" alt="gestionRoles"><a href="#">Gestión de roles y permisos</a></li>
                    <li><img src="../../img/admin/administrarPerfiles.png" alt="administrarPerfiles"><a href="#">Administrar perfiles</a></li>
                    <li><img src="../../img/admin/verificarReseñas.png" alt="verificarReseñas"><a href="#">Verificación de reseñas</a></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><img src="../../img/admin/Informaciones.png" alt="Informaciones"><a href="#">Informaciones</a></li>
                    <li><img src="../../img/admin/FAQs.png" alt="FAQs"><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><img src="../../img/admin/configuraciones.png" alt="configuraciones"><a href="#">Configuración</a></li>
                    <li><img src="../../img/admin/medidasSeguridad.png" alt="medidasSeguridad"><a href="#">Medidas de seguridad</a></li>
                    <li><img src="../../img/admin/ayudaSoporte.png" alt="ayudaSoporte"><a href="#">Ayuda y Soporte</a></li>
                </ul>
            </div>
            <div class="logout">
                <img src="../../img/CerrarSesion.png" alt="CerrarSesion"><a href="#">Cerrar Sesión</a>
            </div>
        </aside>
        <header>
            <input type="text" placeholder="Buscar...">
            <div class="user-info">
                <span>Juan Perez</span>
                <img src="../../img/fotoPerfil.png" alt="User Icon">
            </div>
        </header>
        <main class="main-content">
        <section class="title-recent-profiles">
                <h3>Perfiles creados reciente</h3>
                <p>Aqui podras revisar los datos de los perfiles</p>
        </section>
        <section class="registro-reportes">
            <h3>Registro reportes</h3>
            <ul>
                <li><img src="../../img/admin/reporte.png" alt="reporte">
                    <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p> Martina Santos ha solicitado una verificación de abogado</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
                <li><img src="../../img/admin/reporte.png" alt="reporte">
                    <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p>Martina Santos ha solicitado una verificación de abogado</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
                <li><img src="../../img/admin/reporte.png" alt="reporte">
                    <p>Martina Zapata ha solicitado ayuda con un error del sistema</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p>Martina Santos ha solicitado una verificación de abogado</p></li>
                <li><img src="../../img/admin/verificacion.png" alt="verificacion">
                    <p>Sofía Méndez ha solicitado una verificación de usuario</p></li>
            </ul>
        </section>
    <section class="central">
        <section class="recent-profiles">
            <div class="profiles-list">
                <div class="profile-item">Jesus Lopez - Abogado - Mar 20, 2024 - 10:24 pm</div>
                <div class="profile-item">Julian Estupiñan - Abogado - Mar 20, 2024 - 10:24 pm</div>
                <div class="profile-item">María Gomez - Abogado - Mar 20, 2024 - 10:20 pm</div>
                <div class="profile-item">Carlos Agredo - Cliente - Mar 20, 2024 - 10:19 pm</div>
                <div class="profile-item">Andrea Benavides - Cliente - Mar 20, 2024 - 10:15 pm</div>
                <div class="profile-item">Juan Martínez - Cliente - Mar 19, 2024 - 10:24 pm</div>
                <div class="profile-item">Juan Martínez - Cliente - Mar 18, 2024 - 10:24 pm</div>
                <div class="profile-item">David Astrada - Cliente - Mar 17, 2024 - 10:24 pm</div>
                <a href="#">Mostrar más</a>
            </div>
        </section>
        <section class="profile-details">
            <h3>Perfil</h3>
            <div class="profile-overview">
                <img src="default-avatar.png" alt="Avatar">
                <h4>Jesus Lopez</h4>
                <p>example@gmail.com</p>
                <a href="#" class="pdf-link">Hoja de Vida.pdf</a>
                <div class="account-details">
                    <div>
                        <span>Reportes: 0</span>
                        <a href="#">Ver</a>
                    </div>
                    <div>
                        <span>Comentarios: 2</span>
                        <a href="#">Ver</a>
                    </div>
                    <div>
                        <span>Reseñas: 4</span>
                        <a href="#">Ver</a>
                    </div>
                </div>
                <a href="#" class="btn">Ver perfil completo</a>
                <a href="#" class="btn">Bloquear</a>
            </div>
        </section>
    </section>
         <aside class="search-profiles">
            <h3>Buscar perfiles</h3>
            <input type="text" placeholder="   Ingresa un nombre de usuario o su Id" class="input">
            <a href="#"><img src="../../img/Lupa.png" alt="lupa"></a>
            <h4>O busca por categorías</h4>
            <ul>
                <li><a href="#">  Últimos Reportes  </a></li>
                <li><a href="#">  Respuestas reportadas  </a></li>
                <li><a href="#">  Reseñas  </a></li>
                <li><a href="#">  Usuarios Reportados  </a></li>
            </ul>
            </aside>

        <section class="recent-activity">
            <h3>Actividad reciente</h3>
            <ul>
                <li>Respondió una solicitud de soporte - 19, marzo - 6:28 pm</li>
                <li>Agregó la información "¿Cómo hacer una demanda por alimentos?" - 17, marzo - 6:28 pm</li>
                <li>Respondió una solicitud de soporte - 19, marzo - 6:28 pm</li>
                <li>Agregó la información "¿Cómo hacer una demanda por alimentos?" - 17, marzo - 6:28 pm</li>
            </ul>
        </section>
        </main>
    </div>
</body>
</html>
