<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/information.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-large">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>
      <div class="user-menu">
         <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
            <li><a href="../historial/historial.html">Historial</a></li>
            <li>
              <a href="../notification/notification.html">Notificaciones</a>
            </li>
            <li>
              <a href="../configuracion/configuracion.html">Configuraciones</a>
            </li>
            <li><a href="#" id="openModal">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-small">
      <i
        id="small"
        class="fa-solid fa-chevron-left"
        onclick="window.history.back()"
      ></i>

      <i id="small" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main>
      <div class="container">
        <div class="news-column">
          <h2 class="titulo-informacion">Derechos de un trabajador</h2>
          <span>14 agosto 2024</span>
          <span class="categoria">Categoria: laboral</span>

          <div class="informacion-contenido">
            <img
              src="../../img/DerechosTrabajadores.jpeg"
              alt="Derechos de Trabajadores"
              class="imagen-arriba-derecha"
            />

            <p>
                Conocer los derechos del trabajador es fundamental para garantizar un entorno laboral justo y equitativo. Estos derechos no solo protegen al empleado de prácticas laborales injustas, sino que también promueven un ambiente de trabajo saludable y respetuoso. Al estar informado sobre sus derechos, el trabajador puede exigir condiciones laborales adecuadas, asegurar un trato equitativo, y defenderse en casos de despido injusto o discriminación. Además, un conocimiento sólido de los derechos laborales contribuye a prevenir abusos y conflictos, fomenta una mayor satisfacción en el trabajo, y fortalece la relación entre empleadores y empleados. En resumen, comprender y ejercer los derechos laborales es esencial para mantener el equilibrio y la justicia en el ámbito laboral, promoviendo un entorno de trabajo más productivo y armonioso.
            </p>

            <h3>Conocimientos necesarios dobre tus derechos</h3>

            <p>

             <li>Derechos Contractuales: Conoce los términos y condiciones de tu contrato de trabajo, incluyendo salario, horario laboral, y responsabilidades. Esto te permitirá saber qué esperar y qué exigir en caso de incumplimiento.
             </li>
             <li>Salario y Compensación: Familiarízate con las leyes relacionadas con el salario mínimo, horas extras, y pago de vacaciones. Asegúrate de recibir el salario acordado y las compensaciones correspondientes por horas adicionales trabajadas.

             </li>
             <li>Seguridad y Salud Laboral: Infórmate sobre tus derechos en cuanto a un ambiente de trabajo seguro y saludable. Esto incluye el derecho a reportar condiciones peligrosas sin temor a represalias y a recibir equipo de protección adecuado.</li>
             <li>Derechos de Protección: Conoce tus derechos en cuanto a protección contra la discriminación y el acoso laboral. Esto incluye el derecho a trabajar sin ser víctima de trato desigual por razones de raza, género, religión, orientación sexual, o cualquier otra característica protegida por la ley.
             </li>
             <li>Despido y Terminación: Entiende el proceso y los derechos relacionados con el despido, incluyendo el derecho a una notificación adecuada, la compensación por despido injusto, y la posibilidad de apelar la decisión si crees que fue injusta.</li>
             <li>Beneficios y Prestaciones: Infórmate sobre los beneficios a los que tienes derecho, como seguro de salud, jubilación, y otras prestaciones ofrecidas por tu empleador. Asegúrate de recibir todos los beneficios que te corresponden.</li>
             <li>Derecho a la Privacidad: Conoce tus derechos en cuanto a la privacidad en el lugar de trabajo, incluyendo la protección de tus datos personales y la limitación de la vigilancia invasiva por parte del empleador.</li>
            </p>

            <h3>que es lo mas importante de conocer tus derechos</h3>
            <p>
                Lo más importante de conocer tus derechos es que te brinda el poder y la confianza para protegerte y defenderte en el ámbito laboral. Al estar informado sobre tus derechos, puedes asegurarte de que se te trate de manera justa y equitativa, evitar abusos y prácticas injustas, y tomar acciones correctivas si es necesario. Además, el conocimiento de tus derechos te permite exigir condiciones de trabajo seguras, una compensación justa, y un trato respetuoso, lo que contribuye a tu bienestar y satisfacción en el trabajo. En resumen, conocer tus derechos es esencial para garantizar que puedas trabajar en un entorno que respete tu dignidad y te permita desarrollarte profesionalmente sin temor a represalias o discriminación.
            </p>
            </ol>
          </div>
        </div>
        <div class="recommendations-column">
          <h3>Recomendaciones de informaciones</h3>
          <div class="tab-container">
            <div class="filter">
              <button class="filter-button active">Último</button>
              <button class="filter-button">Más Recomendado</button>
              <button class="filter-button">Más Visto</button>
            </div>

            <div id="latest" class="tab-content">
              <ul class="article-list">
                <a href="#">
                  <li class="article">
                    <img src="../../img/Divorcio.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">Guía sobre divorcio</div>
                      <p class="article-description">
                        La guía sobre divorcio brinda información sobre cómo
                        proceder durante la separación matrimonial.
                      </p>
                    </div>
                  </li>
                </a>

                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdeinquilinos.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Cómo enfrentar problemas de arrendamiento y derechos del
                        inquilino
                      </div>
                      <p class="article-description">
                        Obtén información sobre tus derechos como inquilino.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/AccidenteTrafico.jpeg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Guía después de un accidente de tráfico
                      </div>
                      <p class="article-description">
                        Qué hacer inmediatamente después de verse involucrado en
                        un accidente de tráfico y cómo buscar ayuda legal si es
                        necesario.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdelconsumidor.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Los derechos del consumidor
                      </div>
                      <p class="article-description">
                        Conoce tus derechos como consumidor y aprende cómo
                        protegerte contra el fraude y las prácticas comerciales
                        injustas.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/Despido.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">
                        Qué hacer en caso de despido injustificado
                      </div>
                      <p class="article-description">
                        Explora tus opciones legales y los pasos a seguir si te
                        enfrentas a un despido injustificado.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/IniciarNegocio.jpg" alt="Artículo 2" />
                    <div class="article-content">
                      <div class="article-title">
                        Aspectos legales para iniciar un negocio
                      </div>
                      <p class="article-description">
                        Aprende los aspectos legales fundamentales al iniciar un
                        negocio
                      </p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        const botones = document.querySelectorAll(".filter-button");

        botones.forEach((boton) => {
          boton.addEventListener("click", () => {
            botones.forEach((btn) => btn.classList.remove("active"));

            boton.classList.add("active");
          });
        });
      </script>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
  </body>
</html>
