 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/informaciones.css">
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js" crossorigin="anonymous"></script>
    <script defer src="../../js/modal.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-large">
        <div class="logo">
          <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
          <div class="logo-text">
            <h1>JUSTICE</h1>
            <p>LAW</p>
          </div>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="" />
          <img
            id="filtroBusqueda"
            src="../../img/FiltroBusqueda.png"
            alt="Filtro"
          />
          <button>
            <img src="../../img/Lupa.png" alt="Buscar" />
          </button>
        </div>
        <nav class="nav-links">
          <a href="#">Home</a>
          <a href="#">Foro</a>
          <a href="#">Sobre nosotros</a>
        </nav>
        <div class="user-menu">
          <img
            class="img-perfil"
            src="../../img/fotoPerfil.png"
            alt="foto de Perfil"
          />
          <span>Alfonso Juan</span>
          <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
          <label for="dropdownToggle">
            <img
              class="img-flecha"
              src="../../img/flechaPerfil.png"
              alt="flecha"
            />
          </label>
          <div class="dropdown">
            <ul>
              <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
              <li><a href="../historial/historial.html">Historial</a></li>
              <li>
                <a href="../notification/notification.html">Notificaciones</a>
              </li>
              <li>
                <a href="../configuracion/configuracion.html">Configuraciones</a>
              </li>
              <li><a href="#" id="openModal">Cerrar Sesión</a></li>
            </ul>
          </div>
        </div>
      </header>
  
      <header class="header-small">
          <input type="checkbox" id="dropdownMenu" class="dropdownMovil-checkbox" />
        <label for="dropdownMenu">
          <i class="fa-solid fa-bars"></i>
        </label>
  
        <div class="dropdownMovil">
  
          <i class="fa-solid fa-chevron-left"></i>
      
          <div class="profile-info">
              <img id="fotoPerfil" src="../../img/fotoPerfil.png" alt="fotoPerfil" />
              <div class="profile-details">
                <h3>Alfonso Juan</h3>
                <span>Popayan, Colombia</span>
              </div>
  
            </div>
    
          <ul>
              <hr>
            <li>
              <a href="../home/homeLogin.html">
                <i class="fa-solid fa-house"></i>Home</a
              >
            </li>
            <li>
              <a href="../perfil_usuario/perfil_creado.html"><i class="fa-regular fa-user"></i>Perfil</a>
          </li>
          <li>
              <a href="../notification/notification.html"><i class="fa-regular fa-bell"></i>Notificaciones</a>
          </li>
          <li>
              <a href="../historial/historial.html"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
          </li>
          <hr>
          <li>
              <a href="../configuracion/configuracion.html"><i class="fa-solid fa-gear"></i>Configuracion</a>
          </li>
          <li>
              <a href="#"><i class="fa-solid fa-circle-info"></i></i>Quienes somos</a>
          </li>
          <li>
              <a href="#"><i class="fa-solid fa-question"></i></i>Ayuda</a>
          </li>
          <hr>
          </ul>
        </div>
        <a href="../notification/notification.html"
          ><i class="fa-regular fa-bell"></i
        ></a>
        <a href="../perfil_usuario/crearPerfil.html"
          ><img
            class="img-perfil"
            src="../../img/fotoPerfil.png"
            alt="foto de Perfil"
        /></a>
      </header>
    <main>
        <section class="informaciones-home">
          <div class="columna-izquierda">
            <div class="encabezado">
                <img src="../../img/Accidente.png" alt="Accidente">
                <h2>Guía completa sobre los pasos a seguir después de un accidente de tráfico</h2>
                <h3>1 de febrero, 2024</h3>
                <p>Este artículo podría ofrecer información detallada sobre qué hacer 
                    inmediatamente después de verse involucrado en un accidente de tráfico,
                     cómo recopilar pruebas, cuándo y cómo comunicarse con las compañías de
                      seguros y cómo buscar ayuda legal si es necesario.</p>
                      <button>Leer mas</button>
            </div>

          
        <div class="informaciones-contenedor">
          <div class="info-informacion">
              <img src="../../img/Derechosdelconsumidor.png" alt="Derechos del consumidor">
              <h2>Los derechos del consumidor</h2>
              <h3>1 de febrero, 2024</h3>
              <p>Conoce tus derechos como consumidor y aprende cómo protegerte contra el fraude y las prácticas comerciales injustas</p>
              <button>Leer más</button>
          </div>
          
          <div class="info-informacion">
              <img src="../../img/Iniciarunnegocio.png" alt="Iniciar un negocio">
              <h2>Aspectos legales para iniciar un negocio</h2>
              <h3>1 de febrero, 2024</h3>
              <p>Aprende los aspectos legales fundamentales al iniciar un negocio</p>
              <button>Leer más</button>
          </div>
          
          <div class="info-informacion">
              <img src="../../img/Despidoinjustificado.png" alt="Despido injustificado">
              <h2>Qué hacer en caso de despido injustificado</h2>
              <h3>1 de febrero, 2024</h3>
              <p>Explora tus opciones legales y los pasos a seguir si te enfrentas a un despido injustificado</p>
              <button>Leer más</button>
          </div>
          
          <div class="info-informacion">
              <img src="../../img/Derechosdeinquilinos.png" alt="Derechos del inquilino">
              <h2>Cómo enfrentar problemas de arrendamiento y derechos del inquilino</h2>
              <h3>1 de febrero, 2024</h3>
              <p>Obtén información sobre tus derechos como inquilino</p>
              <button>Leer más</button>
          </div>
          
        </div>
      </div>

      <div class="columna-derecha">
      <div class="sidebar-in"> 
        <div class="sobre-nosotros">
            <h2>Sobre nosotros</h2>
            <img src="../../img/sobrenosotros.png" alt="sobrenosotros">
            <p>Somos una comunidad con el objetivo de ayudar a nuestros
                usuarios a conocer como proseguir en sus casos referentes a 
                la rama judicial presentados en el dia a dia</p>
        </div>
    
        <div class="dest">
            <h2>Lo más destacado</h2>
            <img src="../../img/lomasdestacado.png" alt="lomasdestacado">
            <h3>Pensión alimenticia: Todo lo que necesitas saber</h3>
            <h4>1 de febrero, 2024</h4>
            <button>Leer más</button>
        </div>
    </div>
        <div class="position-container">
            <h1>Categorías</h1>
            <div class="imagen-container">
                <img src="../../img/Derecholaboralydeempleo.png" alt="Derecholaboralydeempleo">
                <div class="texto-superpuesto">Derecho Laboral y de Empleo</div>
            </div>
            <div class="imagen-container">
                <img src="../../img/DerechoComercial.png" alt="DerechoComercial">
                <div class="texto-superpuesto">Derecho Comercial</div>
            </div>
            <div class="imagen-container">
                <img src="../../img/Derechodefamilia.png" alt="Derechodefamilia">
                <div class="texto-superpuesto">Derecho de Familia</div>
            </div>
            <div class="imagen-container">
                <img src="../../img/Derechopenalyprocesal.png" alt="Derechopenalyprocesal">
                <div class="texto-superpuesto">Derecho Penal y Procesal</div>
            </div>
            <div class="imagen-container">
              <img src="../../img/derechoAmbiental.jpg" alt="Derechopenalyprocesal">
              <div class="texto-superpuesto">Derecho Ambiental</div>
          </div>
          <div class="imagen-container">
            <img src="../../img/DerechoSalud.jpg" alt="DerechoSalud">
            <div class="texto-superpuesto">Derecho Salud</div>
        </div>
        <div class="imagen-container">
          <img src="../../img/DerechoInternacional.jpg" alt="DerechoInternacional">
          <div class="texto-superpuesto">Derecho Internacional</div>
      </div>
        </div>
      </div>
        </section>
        <div class="buscador-container">
          <div class="search-bar">
            <input type="text" placeholder="">
            <button><img src="../../img/Lupa.png" alt="Buscar"></button>
          </div>
          
          <div class="filter-menu">
            <button class="active" data-category="todos">Todos</button>
            <button data-category="comercial">Comercial</button>
            <button data-category="laboral">Laboral</button>
            <button data-category="familiar">Familiar</button>
            <button data-category="penal">Penal</button>
            <button data-category="civil">Civil</button>
            <button data-category="inmobiliario">Inmobiliario</button>
          </div>
        </div>
        
        <div class="articles-list">
          <div class="article">
            <img src="../../img/Accidente.png" alt="Artículo">
            <div class="article-info">
                <h3>Guía completa sobre los pasos a seguir...</h3>
                <p>Entra y descubre la información necesaria...</p>
                <span>12 Sept, 2023</span>
            </div>
        </div>
        <div class="article">
          <img src="../../img/Derechosdelconsumidor.png" alt="Artículo">
          <div class="article-info">
              <h3>Los derechos del consumidor</h3>
              <p>Conoce tus derechos como consumidor y aprende cómo...</p>
              <span>11 Sept, 2023</span>
          </div>
        </div>
        <div class="article">
          <img src="../../img/Iniciarunnegocio.png" alt="Artículo">
          <div class="article-info">
              <h3>Aspectos legales para iniciar ...</h3>
              <p>Aprende los aspectos legales fundamentales al iniciar un negocio...</p>
              <span>11 Sept, 2023</span>
          </div>
      </div>
      <div class="article">
          <img src="../../img/Despidoinjustificado.png" alt="Artículo">
          <div class="article-info">
              <h3>Qué hacer en caso de  un despido ... </h3>
              <p>Explora tus opciones legales y los pasos a ...</p>
              <span>11 Sept, 2023</span>
          </div>
      </div>
      <div class="article">
        <img src="../../img/Derechosdeinquilinos.png" alt="Artículo">
        <div class="article-info">
            <h3>Cómo enfrentar problemas de ...</h3>
            <p>Obtén información sobre tus derechos como inquilino...</p>
            <span>11 Sept, 2023</span>
        </div>
    </div>
    <div class="article">
              <img src="../../img/Iniciarunnegocio.png" alt="Artículo">
              <div class="article-info">
                  <h3>Aspectos legales para iniciar ...</h3>
                  <p>Aprende los aspectos legales fundamentales al iniciar un negocio...</p>
                  <span>11 Sept, 2023</span>
              </div>
          </div>
          <div class="article">
              <img src="../../img/Despidoinjustificado.png" alt="Artículo">
              <div class="article-info">
                  <h3>Qué hacer en caso de  un despido ... </h3>
                  <p>Explora tus opciones legales y los pasos a ...</p>
                  <span>11 Sept, 2023</span>
              </div>
          </div>
          <div class="article">
            <img src="../../img/Derechosdeinquilinos.png" alt="Artículo">
            <div class="article-info">
                <h3>Cómo enfrentar problemas de ...</h3>
                <p>Obtén información sobre tus derechos como inquilino...</p>
                <span>11 Sept, 2023</span>
            </div>
        </div>
        <div class="article">
          <img src="../../img/PensionAliemnticia.jpg" alt="Artículo">
          <div class="article-info">
              <h3>Pensión alimenticia</h3>
              <p>Comprende tus derechos y responsabilidades en relación..</p>
              <span>11 Sept, 2023</span>
          </div>
      </div>
      </div>
      
    </div>
  </div>
  <script>
    document.querySelectorAll('.filter-menu button').forEach(button => {
  button.addEventListener('click', function() {
    document.querySelectorAll('.filter-menu button').forEach(btn => {
      btn.style.color = '';
    });
    
    this.style.color = '#CF9E3E';
  });
});

  </script>
    </main>
    <br><br><br>
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>¿Estás seguro de que deseas cerrar sesión?</h2>
            <p>Recuerda que siempre estamos aquí para brindarte la mejor asesoría legal cuando lo necesites.</p>
            <p>¡Esperamos verte pronto de vuelta!</p>
            <div class="modal-buttons">
                <button id="confirmLogout">Cerrar sesión</button>
                <button id="cancelLogout">Cerrar sesión</button>
            </div>
        </div>
    </div>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
    <script src="../../js/modal.js"></script>
    
</body>
</html>
