<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/information.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-large">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>
      <div class="user-menu">
        <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
            <li><a href="../historial/historial.html">Historial</a></li>
            <li>
              <a href="../notification/notification.html">Notificaciones</a>
            </li>
            <li>
              <a href="../configuracion/configuracion.html">Configuraciones</a>
            </li>
            <li><a href="#" id="openModal">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-small">
      <i
        id="small"
        class="fa-solid fa-chevron-left"
        onclick="window.history.back()"
      ></i>

      <i id="small" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main>
      <div class="container">
        <div class="news-column">
          <h2 class="titulo-informacion">La tutela</h2>
          <span>14 agosto 2024</span>
          <span class="categoria">Categoria: familiar</span>

          <div class="informacion-contenido">
            <img
              src="../../img/Tutela.jpg"
              alt="tutela"
              class="imagen-arriba-derecha"
            />

            <p>
              La tutela es un mecanismo de protección legal y jurídica utilizado
              en diversos contextos para garantizar los derechos fundamentales y
              proteger a personas que no pueden cuidar de sí mismas. A
              continuación, se ofrece una explicación detallada de los dos
              principales usos de la tutela: en el ámbito de los derechos
              humanos y en el derecho civil. Tutela en el Ámbito de los Derechos
              Humanos La tutela, en el contexto de los derechos humanos, es un
              mecanismo diseñado para ofrecer protección rápida y efectiva a las
              personas cuyos derechos fundamentales han sido vulnerados. En
              Colombia, este mecanismo se introdujo con la Constitución de 1991,
              estableciéndose como una herramienta fundamental para la
              protección de los derechos humanos. La tutela está regulada
              principalmente por el Artículo 86 de la Constitución de Colombia y
              se ha convertido en un pilar esencial del sistema legal del país.
            </p>

            <h3>Presentación de la Tutela</h3>

            <p>
              Cualquier persona que considere que sus derechos fundamentales han
              sido vulnerados puede presentar una acción de tutela. Este derecho
              no se limita a individuos directamente afectados; también puede
              ser ejercido por un representante en nombre de menores de edad,
              incapaces o personas que, por diversas razones, no pueden
              interponer la tutela por sí mismas. La flexibilidad en el proceso
              de presentación es una característica clave de la tutela. No se
              requieren formalidades estrictas; la acción puede ser presentada
              tanto por escrito como verbalmente, y no es necesario contar con
              la asistencia de un abogado, lo que facilita su acceso y uso.
            </p>

            <h3>Requisitos y Proceso</h3>
            <p>
              La tutela puede ser presentada contra autoridades públicas que
              hayan actuado de manera que vulneren los derechos fundamentales de
              una persona. Además, en ciertos casos, puede ser presentada contra
              particulares cuando sus acciones u omisiones afecten gravemente
              los derechos de alguien. Una vez presentada la tutela, el proceso
              es caracterizado por su celeridad. El juez tiene un plazo muy
              breve, generalmente de 10 días, para decidir sobre el caso. Este
              tiempo reducido está diseñado para asegurar que la protección de
              los derechos sea rápida y efectiva. A pesar de la rapidez del
              proceso, la tutela es subsidiaria, lo que significa que solo se
              debe recurrir a ella cuando no existen otros recursos legales
              disponibles para la protección del derecho en cuestión, o cuando
              estos recursos resultan ineficaces. La tutela no pretende
              reemplazar otros mecanismos legales, sino actuar como un recurso
              adicional para asegurar la protección de los derechos
              fundamentales.
            </p>

            <h3>Sentencia y Revisión</h3>
            <p>
              El fallo del juez en una acción de tutela puede incluir medidas
              inmediatas para proteger el derecho vulnerado. Estas medidas
              pueden variar ampliamente, desde la suspensión de una acción que
              esté afectando a los derechos del solicitante hasta la prestación
              de un servicio que se haya negado, o la rectificación de una
              información incorrecta o dañina. El objetivo es resolver de manera
              rápida y efectiva la violación del derecho. Las decisiones tomadas
              en el marco de una tutela pueden ser impugnadas. Esto significa
              que pueden ser revisadas por un tribunal superior para asegurar
              que se haya hecho justicia de manera adecuada. Además, la Corte
              Constitucional de Colombia tiene la facultad de revisar los fallos
              de tutela. Esta revisión por parte de la Corte Constitucional es
              crucial, ya que permite la unificación de la jurisprudencia sobre
              derechos fundamentales y asegura que las decisiones sean
              consistentes con los principios constitucionales.
            </p>

            <h3>Tipos de tutela:</h3>
            <ol>
              <li><strong>Tutela en el Ámbito del Derecho Civil</strong></li>
              <ul>
                <li>
                  En el derecho civil, la tutela se refiere a la protección
                  legal de personas que, por diversas razones, no pueden cuidar
                  de sí mismas ni administrar sus bienes. Este tipo de tutela se
                  aplica principalmente en dos contextos: la tutela de menores y
                  la tutela de incapaces. Cada uno de estos contextos tiene
                  características y procedimientos específicos.
                </li>
              </ul>
              <li><strong>Tutela de Menores</strong></li>
              <ul>
                <li>
                  La tutela de menores se aplica a aquellos menores de edad que
                  no tienen padres o cuyos padres han sido privados de la patria
                  potestad. En tales casos, se designa a un tutor que asume la
                  responsabilidad de cuidar del menor y administrar sus bienes
                  hasta que este alcance la mayoría de edad. El tutor tiene la
                  responsabilidad de garantizar el bienestar físico y emocional
                  del menor, lo que incluye proporcionar atención médica,
                  educación y otras necesidades básicas.
                </li>
                <li>
                  El nombramiento del tutor generalmente recae en un familiar
                  cercano del menor, como un tío, abuelo o hermano mayor. Sin
                  embargo, si no hay familiares adecuados disponibles o si la
                  situación lo requiere, el juez puede designar a una persona
                  que considere idónea para el rol de tutor. Esta designación se
                  realiza tras una evaluación detallada de la situación del
                  menor para asegurar que el tutor elegido sea el más adecuado
                  para proteger sus intereses.
                </li>
              </ul>
              <li><strong>Tutela de Incapaces</strong></li>
              <ul>
                <li>
                  La tutela de incapaces se refiere a la protección legal de
                  personas mayores de edad que, debido a razones físicas o
                  mentales, no pueden gobernarse a sí mismas ni administrar sus
                  bienes. Esto incluye a personas con discapacidades graves o
                  enfermedades que afectan significativamente su capacidad de
                  juicio. El proceso para la tutela de incapaces comienza con la
                  evaluación de la situación por parte de un juez, quien designa
                  a un tutor después de considerar la situación del incapaz.
                </li>
                <li>
                  El tutor en este contexto tiene varias obligaciones cruciales.
                  Debe garantizar el cuidado personal del incapaz, asegurando
                  que reciba la atención médica adecuada, así como educación y
                  apoyo emocional si es necesario. Además, el tutor es
                  responsable de la administración prudente de los bienes del
                  incapaz. Debe rendir cuentas regularmente al juez sobre cómo
                  maneja estos bienes, asegurando que se actúe en el mejor
                  interés del incapaz.
                </li>
              </ul>
            </ol>
          </div>
        </div>
        <div class="recommendations-column">
          <h3>Recomendaciones de informaciones</h3>
          <div class="tab-container">
            <div class="filter">
              <button class="filter-button active">Último</button>
              <button class="filter-button">Más Recomendado</button>
              <button class="filter-button">Más Visto</button>
            </div>

            <div id="latest" class="tab-content">
              <ul class="article-list">
                <a href="#">
                  <li class="article">
                    <img src="../../img/Divorcio.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">Guía sobre divorcio</div>
                      <p class="article-description">
                        La guía sobre divorcio brinda información sobre cómo
                        proceder durante la separación matrimonial.
                      </p>
                    </div>
                  </li>
                </a>

                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdeinquilinos.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Cómo enfrentar problemas de arrendamiento y derechos del
                        inquilino
                      </div>
                      <p class="article-description">
                        Obtén información sobre tus derechos como inquilino.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Testamento.jpg"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                      Como redactar un testamento
                      </div>
                      <p class="article-description">
                          Aprende los pasos necesarios para realizar un testamento.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/PensionAliemnticia.jpg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Pension Alienticia
                      </div>
                      <p class="article-description">
                        Todo lo que necesitas saber sobre la
                        pension alimenticia
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/DerechosTrabajadores.jpg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Derechos del trabajador
                      </div>
                      <p class="article-description">
                        Todo lo que necesitas saber sobre los derechos del trabajador.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/AccidenteTrafico.jpeg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Guía después de un accidente de tráfico
                      </div>
                      <p class="article-description">
                        Qué hacer inmediatamente después de verse involucrado en
                        un accidente de tráfico y cómo buscar ayuda legal si es
                        necesario.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdelconsumidor.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Los derechos del consumidor
                      </div>
                      <p class="article-description">
                        Conoce tus derechos como consumidor y aprende cómo
                        protegerte contra el fraude y las prácticas comerciales
                        injustas.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/Despido.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">
                        Qué hacer en caso de despido injustificado
                      </div>
                      <p class="article-description">
                        Explora tus opciones legales y los pasos a seguir si te
                        enfrentas a un despido injustificado.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/IniciarNegocio.jpg" alt="Artículo 2" />
                    <div class="article-content">
                      <div class="article-title">
                        Aspectos legales para iniciar un negocio
                      </div>
                      <p class="article-description">
                        Aprende los aspectos legales fundamentales al iniciar un
                        negocio
                      </p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        const botones = document.querySelectorAll(".filter-button");

        botones.forEach((boton) => {
          boton.addEventListener("click", () => {
            botones.forEach((btn) => btn.classList.remove("active"));

            boton.classList.add("active");
          });
        });
      </script>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
  </body>
</html>
