<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/information.css">
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
            <div class="logo-text">
                <h1>JUSTICE</h1>
                <p>LAW</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="">
            <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro">
            <button>
                <img src="../../img/Lupa.png" alt="Buscar">
            </button>
        </div>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">Foro</a>
            <a href="#">Sobre nosotros</a>
        </nav>
        
        <div class="user-menu">
            <img class="img-perfil" src="../../img/fotoPerfil.png" alt="foto de Perfil">
            <span>Alfonso Juan</span>
            <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox">
            <label for="dropdownToggle">
            <img class="img-flecha" src="../../img/flechaPerfil.png" alt="flecha">
            </label>
            <div class="dropdown">
                <ul>
                    <li><a href="perfil">Perfil</a></li>
                    <li><a href="historial">Historial</a></li>
                    <li><a href="notificaciones">Notificaciones</a></li>
                    <li><a href="configuraciones">Configuraciones</a></li>
                    <li><a href="cerrarSesion">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="content">
            <div class="guia">
                <img src="../../img/Accidente.png" alt="Accidente">
                <h2>Guía completa sobre los pasos a seguir después de un accidente de tráfico</h2>
                <h3>1 de febrero,2024</h3>
                <p>Este artículo podría ofrecer información detallada sobre qué hacer 
                    inmediatamente después de verse involucrado en un accidente de tráfico,
                     cómo recopilar pruebas, cuándo y cómo comunicarse con las compañías de
                      seguros y cómo buscar ayuda legal si es necesario.</p>
                      <button>Leer mas</button>
            
            </div>

        <div class="information">
            <h2>Sobre nosotros</h2>
            <img src="../../img/sobrenosotros.png" alt="sobrenosotros">
           <p>Somos una comunidad con el objetivo de ayudar a nuestros
             usuarios a conocer como proseguir en sus casos referentes a 
             la rama judicial presentados en el dia a dia</p>
        </div>
        
        <div class="dest">
            <h2>Lo mas destacado</h2>
            <img src="../../img/lomasdestacado.png" alt="lomasdestacado">

            <h2>Pension alimenticia: Todo lo que necesitas saber</h2>
            <h3>1 de febrero,2024</h3>
            <button>Leer mas</button>
        </div>
        <div class="img">
            <img src="../../img/Derechosdelconsumidor.png" alt="Derechosdelconsumidor">
            <h2>Los derechos del consumidor</h2>
            <h3>1 de febrero,2024</h3>
            <p>Conoce tus derechos como consumidor y aprende cómo 
                protegerte contra el fraude y 
                las prácticas comerciales injustas</p>
                <button>Leer mas</button>
        </div>
        <div class="img2">
                <img src="../../img/Despidoinjustificado.png" alt="Despidoinjustificado">
                <h2>Que hacer en caso de un despido injustificado</h2>
                <h3>1 de febrero,2024</h3>
                <p>Explora tus opciones legales y los pasos
                    a seguir si te enfrentas a un despido injustificado</p>
                    <button>Leer mas</button>
        </div>
        <div class="img3">
            <img src="../../img/Iniciarunnegocio.png" alt="Iniciarunnegocio">
            <h2>Aspectos legales para iniciar un negocio</h2>
            <h3>1 de febrero,2024</h3>
            <p>Aprende los aspectos legales fundamentales al iniciar un negocio</p>
            <button>Leer mas</button>
        </div>
        <div class="img4">
            <img src="../../img/Derechosdeinquilinos.png" alt="Derechosdeinquilinos">
            <h2>Como enfrentar problemas de arrendamiento y derechos del inquilino</h2>
            <h3>1 de febrero,2024</h3>
            <p>Obten información sobre tus derechos como inquilino</p>
            <button>Leer mas</button>
        </div>
        
        </section>

    </main>
    <br><br><br>
    <footer>
        <div class="footer-resources">
            <ul>
                <h3>Recursos</h3>
                <div class="linea1"></div>
                <li><a href="blog">Blog</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-main">
            <h1>JUSTICE</h1>
                <h3>LAW</h3>
            <div class="linea2"></div>
            <a href="https://www.instagram.com/" >
                <img src="../../img/Instagram.png" alt="Instagram">
            </a> 
            <a href="https://www.facebook.com/">
                <img src="../../img/Facebook.png" alt="Facebook">
            </a>        
            <a href="https://www.youtube.com/">
                <img src="../../img/Youtube.png" alt="Youtube">
            </a>
            <a href="https://www.x.com/">
                <img src="../../img/Twiter.png" alt="Twiter">
            </a>
            <a href="https://www.linkedin.com/">
                    <img src="../../img/Linkedin.png" alt="Linkedin">
            </a>
            <div class="linea3"></div>
            <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>


        </div>
        <div class="footer-legal">
            <ul>
                <h3>Legal</h3>
                <div class="linea4"></div>
                <li><a href="terminos">Términos de uso</a></li>
                <li><a href="cookies">Política de Cookies</a></li>
                <li><a href="privacidad">Política de privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
