<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/information2.css">
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-large">
        <div class="logo">
          <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
          <div class="logo-text">
            <h1>JUSTICE</h1>
            <p>LAW</p>
          </div>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="" />
          <img
            id="filtroBusqueda"
            src="../../img/FiltroBusqueda.png"
            alt="Filtro"
          />
          <button>
            <img src="../../img/Lupa.png" alt="Buscar" />
          </button>
        </div>
        <nav class="nav-links">
          <a href="#">Home</a>
          <a href="#">Foro</a>
          <a href="#">Sobre nosotros</a>
        </nav>
        <div class="user-menu">
          <img
            class="img-perfil"
            src="../../img/fotoPerfil.png"
            alt="foto de Perfil"
          />
          <span>Alfonso Juan</span>
          <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
          <label for="dropdownToggle">
            <img
              class="img-flecha"
              src="../../img/flechaPerfil.png"
              alt="flecha"
            />
          </label>
          <div class="dropdown">
            <ul>
              <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
              <li><a href="../historial/historial.html">Historial</a></li>
              <li>
                <a href="../notification/notification.html">Notificaciones</a>
              </li>
              <li>
                <a href="../configuracion/configuracion.html">Configuraciones</a>
              </li>
              <li><a href="#" id="openModal">Cerrar Sesión</a></li>
            </ul>
          </div>
        </div>
      </header>
  
      <header class="header-small">
          <input type="checkbox" id="dropdownMenu" class="dropdownMovil-checkbox" />
        <label for="dropdownMenu">
          <i class="fa-solid fa-bars"></i>
        </label>
  
        <div class="dropdownMovil">
  
          <i class="fa-solid fa-chevron-left"></i>
      
          <div class="profile-info">
              <img id="fotoPerfil" src="../../img/fotoPerfil.png" alt="fotoPerfil" />
              <div class="profile-details">
                <h3>Alfonso Juan</h3>
                <span>Popayan, Colombia</span>
              </div>
  
            </div>
    
          <ul>
              <hr>
            <li>
              <a href="../home/homeLogin.html">
                <i class="fa-solid fa-house"></i>Home</a
              >
            </li>
            <li>
              <a href="../perfil_usuario/perfil_creado.html"><i class="fa-regular fa-user"></i>Perfil</a>
          </li>
          <li>
              <a href="../notification/notification.html"><i class="fa-regular fa-bell"></i>Notificaciones</a>
          </li>
          <li>
              <a href="../historial/historial.html"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
          </li>
          <hr>
          <li>
              <a href="../configuracion/configuracion.html"><i class="fa-solid fa-gear"></i>Configuracion</a>
          </li>
          <li>
              <a href="#"><i class="fa-solid fa-circle-info"></i></i>Quienes somos</a>
          </li>
          <li>
              <a href="#"><i class="fa-solid fa-question"></i></i>Ayuda</a>
          </li>
          <hr>
          </ul>
        </div>
        <a href="../notification/notification.html"
          ><i class="fa-regular fa-bell"></i
        ></a>
        <a href="../perfil_usuario/crearPerfil.html"
          ><img
            class="img-perfil"
            src="../../img/fotoPerfil.png"
            alt="foto de Perfil"
        /></a>
      </header>
    <main>
        <section class="content">
            <div class="tutela">
                <h1>La tutela</h1>
                <img src="../../img/Tutela.png" alt="tutela">
            </div>
            <div class="info">
                <h2>¿Que es una tutela?</h2>
                <p>Una "tutela" es un concepto legal que se refiere a 
                la protección o custodia legal otorgada por un tribunal
                a una persona que no puede cuidar de sí misma o de sus
                propios asuntos. La tutela generalmente se otorga a menores
                de edad o a adultos que no tienen la capacidad legal para tomar 
                decisiones por sí mismos debido a una discapacidad mental o física.
                En el caso de los menores de edad, la tutela puede ser otorgada a un
                tutor legal designado por el tribunal para cuidar del menor y tomar
                decisiones en su nombre. Esto puede incluir decisiones relacionadas con
                la educación, la salud y el bienestar general del menor.</p>
            </div>
            <div class="container">
            <div class="info1">
                <h2>¿Por que se creo?</h2>
                <p>La tutela se crea para proteger a personas vulnerables,
                    como menores o aquellos con discapacidades, que no
                    pueden cuidar de sí mismos. Asegura que sus necesidades
                    sean atendidas adecuadamente.</p>
            </div>
            <div class="info2">
                <h2>El objetivo de la tutela</h2>
                <p>El objetivo de la tutela es proteger 
                    y cuidar a personas vulnerables que no
                    pueden cuidar de sí mismas, asegurando que
                    reciban el apoyo necesario y que sus necesidades
                    sean atendidas adecuadamente.
                </p>
                <button>Leer mas</button>
            </div>
            <div class="info3">
                <h2>Autor de la tutela</h2>
                <p>La tutela es una institución legal creada
                    para proteger a personas vulnerables que no
                    pueden cuidar de sí mismas. No tiene un autor
                    específico y ha evolucionado a lo largo del
                    tiempo en respuesta a diversas necesidades legales
                    y sociales.</p>
            </div>
        </div>
            <div class="info4">
                <h1>Pasos a seguir en una tutela</h1>
                <div class="line1"></div>
                <p>Los pasos generales a seguir
                    en el proceso de tutela pueden
                    variar según la jurisdicción,
                    pero aquí hay una descripción
                    general de los pasos comunes:</p>
            </div>

            <div class="contenedor-columnas">
                <div class="columna-izquierda">
                    <div class="info-box" onclick="toggleContent('content1')">
                        <div class="info-header">
                            <h3>1. Petición ante el tribunal</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content1" class="info-content">
                        <p>El primer paso es presentar una petición
                            ante el tribunal competente solicitando
                            la tutela de la persona vulnerable. Esto
                            generalmente se hace mediante un abogado o
                            representante legal.</p>
                    </div>
                    <div class="info-box" onclick="toggleContent('content3')">
                        <div class="info-header">
                            <h3>3. Nombramiento de tutor</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content3" class="info-content">
                        <p>Nombramiento de tutor: Si el tribunal determina que
                            la tutela es necesaria, designará a un tutor legal
                            para cuidar de la persona vulnerable y tomar decisiones
                            en su nombre.</p>
                    </div>
                    <div class="info-box" onclick="toggleContent('content5')">
                        <div class="info-header">
                            <h3>5. Informe y supervisión</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content5" class="info-content">
                        <p>El tutor está obligado a presentar informes periódicos al tribunal
                            sobre el estado y las necesidades de la persona bajo tutela. El tribunal
                            supervisará el cumplimiento de la tutela para garantizar que se cumplan
                            los mejores intereses de la persona tutelada.</p>
                    </div>
                </div>
                <div class="columna-derecha">
                    <div class="info-box" onclick="toggleContent('content2')">
                        <div class="info-header">
                            <h3>2. Evaluación de la capacidad</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content2" class="info-content">
                        <p>El tribunal realizará una evaluación para determinar
                            si la persona realmente necesita una tutela y si está
                            legalmente incapacitada para cuidar de sí misma o gestionar
                            sus propios asuntos.</p>
                    </div>
                    <div class="info-box" onclick="toggleContent('content4')">
                        <div class="info-header">
                            <h3>4. Desarrollo de un plan</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content4" class="info-content">
                        <p>El tutor trabajará con el tribunal y otros profesionales para
                            desarrollar un plan de cuidados que satisfaga las necesidades
                            y el bienestar de la persona bajo tutela.</p>
                    </div>
                    <div class="info-box" onclick="toggleContent('content6')">
                        <div class="info-header">
                            <h3>6. Revisión periódica</h3>
                            <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                        </div>
                    </div>
                    <div id="content6" class="info-content">
                        <p>La tutela puede ser revisada periódicamente
                            por el tribunal para asegurarse de que sigue
                            siendo necesaria y apropiada para la persona tutelada.</p>
                    </div>
                </div>
            </div>

        </section>
        
    </main>
    <footer class="footer-large">
        <div class="footer-resources">
          <ul>
            <h3>Recursos</h3>
            <div class="linea1"></div>
            <li><a href="blog">Blog</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-main">
          <h1>JUSTICE</h1>
          <h3>LAW</h3>
          <div class="linea2"></div>
          <a href="https://www.instagram.com/">
            <img src="../../img/Instagram.png" alt="Instagram" />
          </a>
          <a href="https://www.facebook.com/">
            <img src="../../img/Facebook.png" alt="Facebook" />
          </a>
          <a href="https://www.youtube.com/">
            <img src="../../img/Youtube.png" alt="Youtube" />
          </a>
          <a href="https://www.x.com/">
            <img src="../../img/Twiter.png" alt="Twiter" />
          </a>
          <a href="https://www.linkedin.com/">
            <img src="../../img/Linkedin.png" alt="Linkedin" />
          </a>
          <div class="linea3"></div>
          <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
        </div>
        <div class="footer-legal">
          <ul>
            <h3>Legal</h3>
            <div class="linea4"></div>
            <li><a href="terminos">Términos de uso</a></li>
            <li><a href="cookies">Política de Cookies</a></li>
            <li><a href="privacidad">Política de privacidad</a></li>
          </ul>
        </div>
      </footer>
  
      <footer class="footer-small">
        <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
        <a href="../Information/information.html">
          <i class="fa-solid fa-magnifying-glass"></i
        ></a>
        <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
      </footer>
    <script>
        function toggleContent(id) {
            var content = document.getElementById(id);
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }
    </script>
</body>
</html>
