<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/information.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-large">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>
      <div class="user-menu">
        <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
            <li><a href="../historial/historial.html">Historial</a></li>
            <li>
              <a href="../notification/notification.html">Notificaciones</a>
            </li>
            <li>
              <a href="../configuracion/configuracion.html">Configuraciones</a>
            </li>
            <li><a href="#" id="openModal">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-small">
      <i
        id="small"
        class="fa-solid fa-chevron-left"
        onclick="window.history.back()"
      ></i>

      <i id="small" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main>
      <div class="container">
        <div class="news-column">
          <h2 class="titulo-informacion">Pension alimenticia: Todo lo que necesitas saber</h2>
          <span>14 agosto 2024</span>
          <span class="categoria">Categoria: familiar</span>

          <div class="informacion-contenido">
            <img
              src="../../img/PensionAliemnticia.jpg"
              alt="tutela"
              class="imagen-arriba-derecha"
            />

            <p>
                La pensión alimenticia es un tema fundamental en el ámbito del derecho
                familiar, ya que asegura que los hijos reciban el apoyo económico necesario
                para su bienestar, independientemente de la situación de sus padres. Entender
                los detalles sobre la pensión alimenticia es crucial para abordar adecuadamente
                las responsabilidades y derechos relacionados. A continuación, se ofrece una
                explicación exhaustiva sobre este tema, incluyendo cómo se calcula, se establece
                y se ajusta la pensión alimenticia, así como los pasos a seguir en caso de incumplimiento.
            </p>

            <h3>Concepto de pension alimenticia</h3>

            <p>
                La pensión alimenticia es una obligación legal que impone a uno de los padres o tutores el deber de contribuir al sustento
                y bienestar de sus hijos menores de edad. Este apoyo económico está diseñado para cubrir necesidades esenciales como alimentación,
                vivienda, educación, atención médica y otras necesidades vitales del niño. En algunos casos, la pensión alimenticia también puede
                ser requerida para hijos adultos que continúan estudiando o que tienen alguna discapacidad que les impide mantenerse por sí mismos.
            </p>

            <h3>Determinación del Derecho a la Pensión Alimenticia</h3>
            <p>
                El derecho a recibir pensión alimenticia se basa en la necesidad del
                niño y la capacidad económica del padre o tutor responsable. En general,
                todos los hijos menores de edad tienen derecho a recibir pensión alimenticia.
                Los padres tienen la responsabilidad de proporcionar el soporte financiero necesario,
                y la cantidad de pensión alimenticia se establece considerando diversos factores.
            </p>

            <h3>Cálculo de la Pensión Alimenticia</h3>
            <p>
                El cálculo de la pensión alimenticia puede variar dependiendo de las leyes de
                cada país o región, así como de las circunstancias específicas del caso. Entre los
                elementos considerados para calcular el monto adecuado se encuentran los ingresos de
                los padres, las necesidades del niño y el tiempo de custodia. Los ingresos de los padres
                incluyen salarios, ingresos por propiedades, inversiones y otros recursos económicos. Las
                necesidades del niño comprenden los gastos para su alimentación, vivienda, educación,
                atención médica y actividades extracurriculares. El tiempo de custodia puede influir en el
                cálculo, ya que si un padre tiene la custodia primaria, el otro padre podría estar obligado
                a pagar una mayor cantidad de pensión alimenticia. Algunos lugares cuentan con directrices
                o fórmulas establecidas para estandarizar el proceso de cálculo y garantizar equidad.
            </p>
            <h3>Establecimiento de la Pensión Alimenticia</h3>
            <p>La pensión alimenticia puede establecerse de diferentes maneras. Si los padres llegan a un acuerdo
                mutuo sobre el monto y las condiciones de la pensión alimenticia, pueden redactar un acuerdo por
                escrito que debe ser presentado ante un tribunal para su aprobación. Este acuerdo debe ser justo y
                reflejar las necesidades del niño así como la capacidad económica de los padres. Si los padres no
                llegan a un acuerdo, el tribunal puede intervenir y emitir una orden de pensión alimenticia. En este
                caso, un juez evaluará la información financiera y las necesidades del niño para determinar el monto
                adecuado, y la orden judicial será vinculante para ambas partes.</p>

            <h3>Modificaciones y Revisión de la Pensión Alimenticia</h3>
            <p>La pensión alimenticia no es necesariamente un monto fijo y puede ser ajustada en función de ciertos cambios en las 
                circunstancias. Entre las razones para solicitar una modificación se incluyen cambios significativos en los ingresos
                de uno de los padres, cambios en las necesidades del niño, o ajustes en el tiempo de custodia. Para solicitar una
                modificación, el padre o tutor afectado debe presentar una solicitud formal al tribunal que emitió la orden original.
                El tribunal revisará las nuevas circunstancias y decidirá si es necesario ajustar el monto de la pensión alimenticia.</p>

            <h3>Cumplimiento y Ejecución de la Pensión Alimenticia</h3>
            <p>Es fundamental que la pensión alimenticia se pague de manera oportuna y completa para garantizar el bienestar del niño.
                Si un padre no cumple con su obligación de pagar la pensión alimenticia, el otro padre puede tomar diversas acciones.
                El primer paso suele ser notificar formalmente al padre incumplidor sobre el incumplimiento. En caso de que esta notificación
                no resuelva el problema, se puede solicitar la intervención del tribunal. El tribunal tiene la capacidad de imponer sanciones
                al padre incumplidor, como el embargo de salarios, la retención de impuestos u otras medidas para asegurar el cumplimiento.
                En algunos países, existen servicios especializados en la ejecución de pensiones alimenticias que ayudan a hacer cumplir
                las órdenes de pago.</p>

            <h3>Consideraciones adicionales</h3>
            <p>En casos complejos, es recomendable buscar asesoría legal especializada en derecho de familia. Un abogado puede proporcionar
                orientación sobre los derechos y obligaciones, negociar acuerdos y presentar solicitudes ante el tribunal si es necesario.
                Además, es útil realizar una revisión periódica de la pensión alimenticia para asegurarse de que sigue siendo adecuada a las
                circunstancias actuales. La revisión periódica puede ayudar a ajustar la pensión alimenticia conforme a los cambios en las
                necesidades del niño o en la situación económica de los padres.</p>

            <h3>Conclusión</h3>
            <p>La pensión alimenticia es un aspecto esencial para asegurar que los hijos reciban el apoyo necesario en situaciones de separación
                o divorcio. Comprender cómo se calcula, se establece y se ajusta la pensión alimenticia es crucial para manejar adecuadamente
                las responsabilidades y proteger los derechos de los involucrados. Si surgen disputas o problemas en el cumplimiento, buscar
                asistencia legal es fundamental para garantizar que se mantenga el bienestar del niño y se cumplan las obligaciones legales.</p>
          </div>
        </div>
        <div class="recommendations-column">
          <h3>Recomendaciones de informaciones</h3>
          <div class="tab-container">
            <div class="filter">
              <button class="filter-button active">Último</button>
              <button class="filter-button">Más Recomendado</button>
              <button class="filter-button">Más Visto</button>
            </div>

            <div id="latest" class="tab-content">
              <ul class="article-list">
                <a href="#">
                  <li class="article">
                    <img src="../../img/Divorcio.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">Guía sobre divorcio</div>
                      <p class="article-description">
                        La guía sobre divorcio brinda información sobre cómo
                        proceder durante la separación matrimonial.
                      </p>
                    </div>
                  </li>
                </a>

                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdeinquilinos.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Cómo enfrentar problemas de arrendamiento y derechos del
                        inquilino
                      </div>
                      <p class="article-description">
                        Obtén información sobre tus derechos como inquilino.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                    <li class="article">
                      <img
                        src="../../img/Tutela.jpg"
                        alt="Artículo 2"
                      />
                      <div class="article-content">
                        <div class="article-title">
                          La tutela
                        </div>
                        <p class="article-description">
                          Obtén información sobre la tutela.
                        </p>
                      </div>
                    </li>
                  </a>
                  <a href="#">
                    <li class="article">
                      <img
                        src="../../img/Testamento.jpg"
                        alt="Artículo 2"
                      />
                      <div class="article-content">
                        <div class="article-title">
                        Como redactar un testamento
                        </div>
                        <p class="article-description">
                            Aprende los pasos necesarios para realizar un testamento.
                        </p>
                      </div>
                    </li>
                  </a>
                  <a href="#">
                    <li class="article">
                      <img
                        src="../../img/DerechosTrabajadores.jpeg"
                        alt="Artículo 1"
                      />
                      <div class="article-content">
                        <div class="article-title">
                          Derechos del trabajador
                        </div>
                        <p class="article-description">
                          Todo lo que necesitas saber sobre los derechos del trabajador.
                        </p>
                      </div>
                    </li>
                  </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/AccidenteTrafico.jpeg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Guía después de un accidente de tráfico
                      </div>
                      <p class="article-description">
                        Qué hacer inmediatamente después de verse involucrado en
                        un accidente de tráfico y cómo buscar ayuda legal si es
                        necesario.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdelconsumidor.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Los derechos del consumidor
                      </div>
                      <p class="article-description">
                        Conoce tus derechos como consumidor y aprende cómo
                        protegerte contra el fraude y las prácticas comerciales
                        injustas.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/Despido.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">
                        Qué hacer en caso de despido injustificado
                      </div>
                      <p class="article-description">
                        Explora tus opciones legales y los pasos a seguir si te
                        enfrentas a un despido injustificado.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/IniciarNegocio.jpg" alt="Artículo 2" />
                    <div class="article-content">
                      <div class="article-title">
                        Aspectos legales para iniciar un negocio
                      </div>
                      <p class="article-description">
                        Aprende los aspectos legales fundamentales al iniciar un
                        negocio
                      </p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        const botones = document.querySelectorAll(".filter-button");

        botones.forEach((boton) => {
          boton.addEventListener("click", () => {
            botones.forEach((btn) => btn.classList.remove("active"));

            boton.classList.add("active");
          });
        });
      </script>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
  </body>
</html>
