<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/information.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-large">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>
      <div class="user-menu">
        <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
            <li><a href="../historial/historial.html">Historial</a></li>
            <li>
              <a href="../notification/notification.html">Notificaciones</a>
            </li>
            <li>
              <a href="../configuracion/configuracion.html">Configuraciones</a>
            </li>
            <li><a href="#" id="openModal">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-small">
      <i
        id="small"
        class="fa-solid fa-chevron-left"
        onclick="window.history.back()"
      ></i>

      <i id="small" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main>
      <div class="container">
        <div class="news-column">
          <h2 class="titulo-informacion">Guia sobre los pasos a seguir en un accidente de trafico</h2>
          <span>14 agosto 2024</span>
          <span class="categoria">Categoria: familiar</span>

          <div class="informacion-contenido">
            <img
              src="../../img/Accidente.png"
              alt="tutela"
              class="imagen-arriba-derecha"
            />

            <p>
                Enfrentar un accidente de tráfico es una experiencia que puede ser
                angustiante y confusa, y el manejo adecuado de la situación es crucial
                para garantizar la seguridad y proteger tus derechos. A continuación,
                se presenta una guía detallada sobre los pasos a seguir tras un accidente
                de tráfico, desde la seguridad inicial hasta la resolución de reclamaciones
                de seguros y aspectos legales
            </p>

            <h3>Seguridad Inmediata y Evaluación</h3>

            <p>
                La primera prioridad después de un accidente es asegurar la seguridad de todos
                los involucrados. Si estás en una colisión menor y los vehículos se encuentran en
                una posición peligrosa, mueve los coches a un lugar seguro si es posible.<br> Sin embargo,
                si hay personas heridas o los vehículos están en medio de la carretera, es crucial no
                mover a los heridos, ya que esto podría empeorar sus lesiones. En su lugar, espera a
                que lleguen los servicios de emergencia.
            </p>

            <h3>Contacto con Servicios de Emergencia</h3>
            <p>
                Llame al número de emergencia correspondiente para informar sobre el accidente.
                Proporciona detalles precisos sobre la ubicación, el número de vehículos involucrados
                y el estado de los heridos.<br>
                Los paramédicos y la policía llegarán al lugar para brindar
                asistencia médica, asegurar el área y elaborar un informe del accidente. Este informe
                puede ser esencial para las reclamaciones de seguros y procedimientos legales posteriores.
            </p>

            <h3>Intercambio de Información</h3>
            <p>
                Recopila información de contacto y detalles del seguro de todos los conductores involucrados
                en el accidente. Esto incluye nombres completos, direcciones, números de teléfono, números de
                licencia de conducir y detalles de las pólizas de seguro. Además, toma nota de los datos de los
                vehículos, como el modelo, color y cualquier daño visible. Esta información será fundamental para
                la resolución de la reclamación de seguros.
            </p>
            <h3>Documentacion del accidente</h3>
            <p>Es esencial documetar el accidente de una manera exhaustiva. Utiliza una camara o tu telefono movil
                para tomar fotofrafias detalladas de los daños en los vehiculos, la posición en la carretera las señales
                de trafico, semaforos, y cualquier otra evidencia relevante. Captura imágenes de los daños de la infraestructura
                y del entorno circundante. Esta documentacion servira como prueba en caso de disputas o reclamaciones 
            </p>
            <h3>No admitir culpa</h3>
            <p>Evita admitir culpa en el lugar del accidente. La determinación de la culpa debe basarse en la
                evidencia recopilada y en la investigación realizada por las autoridades y las compañías de seguros.
                Admite culpa prematuramente podría perjudicar tu capacidad para reclamar daños y tener implicaciones
                legales negativas.</p>
            <h3>Atencion medica</h3>
            <p>Incluso si te sientes bien tras el accidente, es crucial buscar atención médica. Algunas lesiones
                pueden no ser evidentes de inmediato, y un chequeo médico puede ayudar a identificar problemas de
                salud que podrían surgir posteriormente. Además, tener un informe médico oficial es importante para
                cualquier reclamación de seguros y para el tratamiento adecuado de tus lesiones.</p>
            <h3>Notificacion a la compañia de seguros</h3>
            <p></p>
          </div>
        </div>
        <div class="recommendations-column">
          <h3>Recomendaciones de informaciones</h3>
          <div class="tab-container">
            <div class="filter">
              <button class="filter-button active">Último</button>
              <button class="filter-button">Más Recomendado</button>
              <button class="filter-button">Más Visto</button>
            </div>

            <div id="latest" class="tab-content">
              <ul class="article-list">
                <a href="#">
                  <li class="article">
                    <img src="../../img/Divorcio.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">Guía sobre divorcio</div>
                      <p class="article-description">
                        La guía sobre divorcio brinda información sobre cómo
                        proceder durante la separación matrimonial.
                      </p>
                    </div>
                  </li>
                </a>

                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdeinquilinos.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Cómo enfrentar problemas de arrendamiento y derechos del
                        inquilino
                      </div>
                      <p class="article-description">
                        Obtén información sobre tus derechos como inquilino.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/AccidenteTrafico.jpeg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Guía después de un accidente de tráfico
                      </div>
                      <p class="article-description">
                        Qué hacer inmediatamente después de verse involucrado en
                        un accidente de tráfico y cómo buscar ayuda legal si es
                        necesario.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdelconsumidor.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Los derechos del consumidor
                      </div>
                      <p class="article-description">
                        Conoce tus derechos como consumidor y aprende cómo
                        protegerte contra el fraude y las prácticas comerciales
                        injustas.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/Despido.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">
                        Qué hacer en caso de despido injustificado
                      </div>
                      <p class="article-description">
                        Explora tus opciones legales y los pasos a seguir si te
                        enfrentas a un despido injustificado.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/IniciarNegocio.jpg" alt="Artículo 2" />
                    <div class="article-content">
                      <div class="article-title">
                        Aspectos legales para iniciar un negocio
                      </div>
                      <p class="article-description">
                        Aprende los aspectos legales fundamentales al iniciar un
                        negocio
                      </p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        const botones = document.querySelectorAll(".filter-button");

        botones.forEach((boton) => {
          boton.addEventListener("click", () => {
            botones.forEach((btn) => btn.classList.remove("active"));

            boton.classList.add("active");
          });
        });
      </script>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
  </body>
</html>
