<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/information.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfdeae7cfe.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header-large">
      <div class="logo">
        <img src="../../img/logo.jpg" alt="JusticeLaw Logo" />
        <div class="logo-text">
          <h1>JUSTICE</h1>
          <p>LAW</p>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="" />
        <img
          id="filtroBusqueda"
          src="../../img/FiltroBusqueda.png"
          alt="Filtro"
        />
        <button>
          <img src="../../img/Lupa.png" alt="Buscar" />
        </button>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Foro</a>
        <a href="#">Sobre nosotros</a>
      </nav>
      <div class="user-menu">
        <img
          class="img-perfil"
          src="../../img/fotoPerfil.png"
          alt="foto de Perfil"
        />
        <span>Alfonso Juan</span>
        <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox" />
        <label for="dropdownToggle">
          <img
            class="img-flecha"
            src="../../img/flechaPerfil.png"
            alt="flecha"
          />
        </label>
        <div class="dropdown">
          <ul>
            <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
            <li><a href="../historial/historial.html">Historial</a></li>
            <li>
              <a href="../notification/notification.html">Notificaciones</a>
            </li>
            <li>
              <a href="../configuracion/configuracion.html">Configuraciones</a>
            </li>
            <li><a href="#" id="openModal">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-small">
      <i
        id="small"
        class="fa-solid fa-chevron-left"
        onclick="window.history.back()"
      ></i>

      <i id="small" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main>
      <div class="container">
        <div class="news-column">
          <h2 class="titulo-informacion">El despido</h2>
          <span>14 agosto 2024</span>
          <span class="categoria">Categoria: laboral</span>

          <div class="informacion-contenido">
            <img
              src="../../img/Despido.jpg"
              alt="Despido"
              class="imagen-arriba-derecha"
            />

            <p>
              El proceso legal por despido injusto comienza con 
              la revisión del despido por parte del trabajador, quien 
              determina si fue injustificado, es decir, sin una causa 
              legal válida o sin seguir el debido proceso. 
              A continuación, se busca una conciliación entre el 
              trabajador y el empleador, intentando llegar a un 
              acuerdo que evite llevar el caso a los tribunales. 
              Si la conciliación no tiene éxito, el trabajador 
              puede presentar una demanda ante la autoridad laboral 
              o un tribunal, donde se expone el caso y se argumenta 
              por qué el despido fue injusto. El tribunal analizará 
              las pruebas y decidirá si el despido fue injustificado, 
              pudiendo ordenar la reincorporación del trabajador 
              o el pago de una indemnización.
            </p>

            <h3>Contenido para una carta de despido</h3>

            <p>

                [Nombre del Empleador]
                [Nombre de la Empresa]
                [Fecha]
                
                [Nombre del Empleado]
                [Cargo del Empleado]
                
                Estimado/a [Nombre del Empleado]:
                
                Le informamos que su contrato con [Nombre de la Empresa] se termina a partir del [fecha efectiva del despido]. Esta decisión se debe a [motivo del despido, como bajo rendimiento o incumplimiento de políticas].
                
                Recibirá [detalles sobre indemnización y derechos] conforme a la legislación aplicable. Para coordinar la entrega de documentos y resolver cualquier duda, por favor, contacte a [nombre y contacto del representante].
                
                Atentamente,
                
                [Firma del Empleador]
                [Nombre del Empleador]
                [Cargo del Empleador]
            </p>

            <h3>Requisitos y Proceso</h3>
            <p>
              
                Para despedir a un empleado de manera justa y legal, es crucial seguir ciertos requisitos y procesos para garantizar que el despido se maneje adecuadamente y minimice posibles conflictos legales. Aquí te presento los pasos clave a seguir:

                Revisión del Contrato y Políticas Internas: Antes de proceder con el despido, revisa el contrato de trabajo del empleado y las políticas internas de la empresa para asegurarte de cumplir con todas las estipulaciones y procedimientos establecidos.
                
                Documentación y Justificación: Asegúrate de documentar cualquier problema relacionado con el desempeño o conducta del empleado. Esto incluye advertencias previas, informes de desempeño y cualquier otra evidencia que respalde la decisión de despido.
                
                Cumplimiento de la Legislación Laboral: Verifica las leyes laborales locales y nacionales que rigen el despido. Asegúrate de seguir los procedimientos legales adecuados, como notificar al empleado con antelación, si es necesario, y proporcionar una causa válida para el despido.
                
                Proceso de Advertencia y Oportunidades de Mejora: En muchos casos, se deben proporcionar advertencias formales y oportunidades para que el empleado mejore su desempeño o corrija su conducta antes de proceder con el despido. Esto puede incluir reuniones de seguimiento y planes de mejora.
                
                Preparación de la Notificación de Despido: Redacta una carta de despido formal que detalle la razón del despido, la fecha efectiva y cualquier información relevante sobre la compensación y los derechos del empleado. Asegúrate de que la carta sea clara y profesional.
            </p>

            <h3>Sentencia y Revisión</h3>
            <p>
                Sentencia de Despido: La sentencia en un caso de despido es la decisión final emitida por un tribunal o autoridad laboral que resuelve la legalidad del despido y sus consecuencias. Si un empleado considera que su despido fue injusto, puede presentar una demanda ante el tribunal competente. Durante el proceso, el tribunal evalúa las pruebas presentadas por ambas partes, incluyendo la justificación del despido por parte del empleador y las alegaciones del empleado. La sentencia puede dictar que el despido fue legal, o que se debe compensar al empleado con indemnización, reinstalación en el puesto, o cualquier otra medida correctiva.

                Revisión de Despido: La revisión del despido es el proceso mediante el cual se examina la sentencia emitida para asegurar que se ha aplicado correctamente la ley y que se han considerado todas las pruebas y argumentos pertinentes. Cualquier de las partes puede solicitar una revisión si considera que hubo errores en el procedimiento, en la interpretación de la ley, o en la evaluación de las pruebas. La revisión puede llevarse a cabo ante el mismo tribunal que emitió la sentencia original o ante una instancia superior. El objetivo es garantizar que la decisión final sea justa y conforme a la legislación vigente. Durante la revisión, el tribunal puede confirmar, modificar o anular la sentencia original dependiendo de los hallazgos y argumentos presentados.

            </p>
              </ul>
            </ol>
          </div>
        </div>
        <div class="recommendations-column">
          <h3>Recomendaciones de informaciones</h3>
          <div class="tab-container">
            <div class="filter">
              <button class="filter-button active">Último</button>
              <button class="filter-button">Más Recomendado</button>
              <button class="filter-button">Más Visto</button>
            </div>

            <div id="latest" class="tab-content">
              <ul class="article-list">
                <a href="#">
                  <li class="article">
                    <img src="../../img/Divorcio.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">Guía sobre divorcio</div>
                      <p class="article-description">
                        La guía sobre divorcio brinda información sobre cómo
                        proceder durante la separación matrimonial.
                      </p>
                    </div>
                  </li>
                </a>

                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdeinquilinos.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Cómo enfrentar problemas de arrendamiento y derechos del
                        inquilino
                      </div>
                      <p class="article-description">
                        Obtén información sobre tus derechos como inquilino.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/AccidenteTrafico.jpeg"
                      alt="Artículo 1"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Guía después de un accidente de tráfico
                      </div>
                      <p class="article-description">
                        Qué hacer inmediatamente después de verse involucrado en
                        un accidente de tráfico y cómo buscar ayuda legal si es
                        necesario.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img
                      src="../../img/Derechosdelconsumidor.png"
                      alt="Artículo 2"
                    />
                    <div class="article-content">
                      <div class="article-title">
                        Los derechos del consumidor
                      </div>
                      <p class="article-description">
                        Conoce tus derechos como consumidor y aprende cómo
                        protegerte contra el fraude y las prácticas comerciales
                        injustas.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/Despido.jpg" alt="Artículo 1" />
                    <div class="article-content">
                      <div class="article-title">
                        Qué hacer en caso de despido injustificado
                      </div>
                      <p class="article-description">
                        Explora tus opciones legales y los pasos a seguir si te
                        enfrentas a un despido injustificado.
                      </p>
                    </div>
                  </li>
                </a>
                <a href="#">
                  <li class="article">
                    <img src="../../img/IniciarNegocio.jpg" alt="Artículo 2" />
                    <div class="article-content">
                      <div class="article-title">
                        Aspectos legales para iniciar un negocio
                      </div>
                      <p class="article-description">
                        Aprende los aspectos legales fundamentales al iniciar un
                        negocio
                      </p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        const botones = document.querySelectorAll(".filter-button");

        botones.forEach((boton) => {
          boton.addEventListener("click", () => {
            botones.forEach((btn) => btn.classList.remove("active"));

            boton.classList.add("active");
          });
        });
      </script>
    </main>
    <footer class="footer-large">
      <div class="footer-resources">
        <ul>
          <h3>Recursos</h3>
          <div class="linea1"></div>
          <li><a href="blog">Blog</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-main">
        <h1>JUSTICE</h1>
        <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/">
          <img src="../../img/Instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.youtube.com/">
          <img src="../../img/Youtube.png" alt="Youtube" />
        </a>
        <a href="https://www.x.com/">
          <img src="../../img/Twiter.png" alt="Twiter" />
        </a>
        <a href="https://www.linkedin.com/">
          <img src="../../img/Linkedin.png" alt="Linkedin" />
        </a>
        <div class="linea3"></div>
        <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
      </div>
      <div class="footer-legal">
        <ul>
          <h3>Legal</h3>
          <div class="linea4"></div>
          <li><a href="terminos">Términos de uso</a></li>
          <li><a href="cookies">Política de Cookies</a></li>
          <li><a href="privacidad">Política de privacidad</a></li>
        </ul>
      </div>
    </footer>

    <footer class="footer-small">
      <a href="../home/homeLogin.html"> <i class="fa-solid fa-house"></i></a>
      <a href="../Information/information.html">
        <i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a href="../foro/foro.html"><i class="fa-solid fa-users"></i></a>
    </footer>
  </body>
</html>
