<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/information.css">
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
            <div class="logo-text">
                <h1>JUSTICE</h1>
                <p>LAW</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="">
            <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro">
            <button>
                <img src="../../img/Lupa.png" alt="Buscar">
            </button>
        </div>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">Iniciar Sesión</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Foro</a>
        </nav>
        
    </header>
    <main>
        <section class="content">
            <div class="tutela">
                <h1>La tutela</h1>
                <img src="../../img/Tutela.png" alt="tutela">
            </div>
            <div class="info">
                <h2>¿Que es una tutela?</h2>
                <p>Una "tutela" es un concepto legal que se refiere a 
                la protección o custodia legal otorgada por un tribunal
                a una persona que no puede cuidar de sí misma o de sus
                propios asuntos. La tutela generalmente se otorga a menores
                de edad o a adultos que no tienen la capacidad legal para tomar 
                decisiones por sí mismos debido a una discapacidad mental o física.
                En el caso de los menores de edad, la tutela puede ser otorgada a un
                tutor legal designado por el tribunal para cuidar del menor y tomar
                decisiones en su nombre. Esto puede incluir decisiones relacionadas con
                la educación, la salud y el bienestar general del menor.</p>
            </div>
            <div class="container">
            <div class="info1">
                <h2>¿Por que se creo?</h2>
                <p>La tutela se crea para proteger a personas vulnerables,
                    como menores o aquellos con discapacidades, que no
                    pueden cuidar de sí mismos. Asegura que sus necesidades
                    sean atendidas adecuadamente.</p>
            </div>
            <div class="info2">
                <h2>El objetivo de la tutela</h2>
                <p>El objetivo de la tutela es proteger 
                    y cuidar a personas vulnerables que no
                    pueden cuidar de sí mismas, asegurando que
                    reciban el apoyo necesario y que sus necesidades
                    sean atendidas adecuadamente.
                </p>
                <button>Leer mas</button>
            </div>
            <div class="info3">
                <h2>Autor de la tutela</h2>
                <p>La tutela es una institución legal creada
                    para proteger a personas vulnerables que no
                    pueden cuidar de sí mismas. No tiene un autor
                    específico y ha evolucionado a lo largo del
                    tiempo en respuesta a diversas necesidades legales
                    y sociales.</p>
            </div>
        </div>
            <div class="info4">
                <h1>Pasos a seguir en una tutela</h1>
                <div class="line1"></div>
                <p>Los pasos generales a seguir
                    en el proceso de tutela pueden
                    variar según la jurisdicción,
                    pero aquí hay una descripción
                    general de los pasos comunes:</p>
            </div>

            <div class="contenedor-columnas">
                <div class="columna-izquierda">
                    <div class="info5">
                        <h3>1. Petición ante el tribunal</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                    <div class="info7">
                        <h3>3. Nombramiento de tutor</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                    <div class="info9">
                        <h3>5. Informe y supervisión</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                </div>
                <div class="columna-derecha">
                    <div class="info6">
                        <h3>2. Evaluación de la capacidad</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                    <div class="info8">
                        <h3>4. Desarrollo de un plan</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                    <div class="info10">
                        <h3>6. Revisión periódica</h3>
                        <img src="../../img/flechaAbajo.png" alt="flechaAbajo">
                    </div>
                </div>
            </div>
            

        </section>
        
    </main>
    <footer>
        <div class="footer-resources">
            <ul>
                <h3>Recursos</h3>
                <div class="linea1"></div>
                <li><a href="blog">Blog</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-main">
            <h1>JUSTICE</h1>
                <h3>LAW</h3>
        <div class="linea2"></div>
        <a href="https://www.instagram.com/" >
            <img src="../../img/Instagram.png" alt="Instagram">
        </a> 
        <a href="https://www.facebook.com/">
            <img src="../../img/Facebook.png" alt="Facebook">
        </a>        
        <a href="https://www.youtube.com/">
            <img src="../../img/Youtube.png" alt="Youtube">
        </a>
        <a href="https://www.x.com/">
            <img src="../../img/Twiter.png" alt="Twiter">
        </a>
        <a href="https://www.linkedin.com/">
                <img src="../../img/Linkedin.png" alt="Linkedin">
        </a>
            <div class="linea3"></div>
            <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
            
        </div>
        <div class="footer-legal">
            <ul>
                <h3>Legal</h3>
                <div class="linea4"></div>
                <li><a href="terminos">Términos de uso</a></li>
                <li><a href="cookies">Política de Cookies</a></li>
                <li><a href="privacidad">Política de privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
