<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law - FAQs</title>
    <link rel="stylesheet" href="../../css/respuestas_faqs_desplegable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="top-bar">
        <div class="logo">
            <h2>
                <span class="justice">JUSTICE</span>
                <span class="law">LAW</span>
            </h2>
        </div>
        
        <div class="search-bar">
            <img src="../../img/Lupa.png" alt="Lupa" class="search-icon">
            <input type="text" placeholder="Buscar...">
        </div>
        
        <div class="user-info">
            <img src="../../img/notificaciones.png" alt="notificaciones" class="notificacion-img"> 
            <p>Juan Perez <span>Admin</span></p> 
            <img src="../../img/fotoPerfil.png" alt="fotoPerfil" class="user-img">
        </div>        
    </div>

    <div class="container">
        <aside class="sidebar">
            <ul>
                <li style="height: 20px;"></li> 
                <li class="menu-item">Menu</li> 
                <li>
                    <a href="#">
                        <img src="../../img/admin/dashboard.png" alt="dashboard" class="sidebar-icon"> 
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/herramientasAnalisis.png" alt="herramientasAnalisis" class="sidebar-icon">
                        Herramientas análisis
                    </a>
                </li>
                <li class="menu-item">Usuarios</li> 
                <li>
                    <a href="#">
                        <img src="../../img/admin/gestionRoles.png" alt="gestionRoles" class="sidebar-icon">
                        Gestión de roles y permisos
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/administrarPerfiles.png" alt="administrarPerfiles" class="sidebar-icon"> 
                        Administrar perfiles
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/verificarReseñas.png" alt="verificarReseñas" class="sidebar-icon"> 
                        Verificación de reseñas
                    </a>
                </li>
                <li class="menu-item">Contenido</li> 
                <li>
                    <a href="#">
                        <img src="../../img/admin/Informaciones.png" alt="Informaciones" class="sidebar-icon"> 
                        Informaciones
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/FAQs.png" alt="faqs" class="sidebar-icon"> 
                        FAQs
                    </a>
                </li>
                <li class="menu-item">Configuración</li> 
                <li>
                    <a href="#">
                        <img src="../../img/admin/configuraciones.png" alt="configuraciones" class="sidebar-icon"> 
                        Configuración
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/medidasSeguridad.png" alt="medidasSeguridad" class="sidebar-icon"> 
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/admin/ayudaSoporte.png" alt="ayudaSoporte" class="sidebar-icon"> 
                        Ayuda y Soporte
                    </a>
                </li>
                <li style="height: 20px;"></li> 
                <li style="height: 20px;"></li> 
                <li>
                    <a href="#">
                        <img src="../../img/admin/cerrarSesion.png" alt="cerrarSesion" class="sidebar-icon"> 
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </aside>
        
        <main class="content">
            <section class="faqs">
                <h1>FAQs</h1>
                <div class="faq-sections">
                    <div class="faq-category">
                        <h2>Preguntas generales</h2>
                        <ul>
                            <li class="faq-item">¿Qué servicios legales ofrecen? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos una amplia gama de servicios legales que incluyen asesoramiento jurídico, representación en litigios, redacción de contratos, planificación patrimonial, resolución alternativa de disputas y más. Nuestros abogados tienen experiencia en diversas áreas del derecho, desde derecho corporativo hasta derecho de familia y derecho penal.</li>
                            <li class="faq-item">¿Cómo puedo saber si necesito un abogado para mi situación legal? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Dependerá de la complejidad de tu caso y tu experiencia previa.</li>
                            <li class="faq-item">¿Cuál es el proceso para resolver disputas legales fuera de los tribunales? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">A través de mediación, arbitraje o negociación.</li>
                            <li class="faq-item">¿Cuáles son los plazos legales que debo tener en cuenta en mi caso? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Los plazos varían según el tipo de caso, te recomendamos consultar con un abogado.</li>
                            <li class="faq-item">¿Cómo puedo obtener una copia de un documento legal importante? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Qué servicios legales ofrecen? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Cómo puedo saber si necesito un abogado para mi situación legal? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Cuál es el proceso para resolver disputas legales fuera de los tribunales? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Cuáles son los plazos legales que debo tener en cuenta en mi caso? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Cómo puedo obtener una copia de un documento legal importante? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                        </ul>
                    </div>
                    <div class="faq-category">
                        <h2>Soporte al cliente</h2>
                        <ul>
                            <li class="faq-item">¿Qué servicios legales ofrecen? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos una amplia gama de servicios legales que incluyen asesoramiento jurídico, representación en litigios, redacción de contratos, planificación patrimonial, resolución alternativa de disputas y más. Nuestros abogados tienen experiencia en diversas áreas del derecho, desde derecho corporativo hasta derecho
                                de familia y derecho penal.</li>
                            <li class="faq-item">¿Cómo puedo saber si necesito un abogado para mi situación legal? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Dependerá de la complejidad de tu caso y tu experiencia previa.</li>
                            <li class="faq-item">¿Cuál es el proceso para resolver disputas legales fuera de los tribunales? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">A través de mediación, arbitraje o negociación.</li>
                            <li class="faq-item">¿Cuáles son los plazos legales que debo tener en cuenta en mi caso? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Los plazos varían según el tipo de caso, te recomendamos consultar con un abogado.</li>
                            <li class="faq-item">¿Cómo puedo obtener una copia de un documento legal importante? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Puedes solicitar una copia a la entidad que emitió el documento o a través del abogado que gestionó tu caso.</li>
                            <li class="faq-item">¿Qué servicios legales ofrecen? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos asesoramiento jurídico, representación en litigios, y más.</li>
                            <li class="faq-item">¿Cómo puedo saber si necesito un abogado para mi situación legal? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos asesoramiento jurídico, representación en litigios, y más.</li>
                            <li class="faq-item">¿Cuál es el proceso para resolver disputas legales fuera de los tribunales? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos asesoramiento jurídico, representación en litigios, y más.</li>
                            <li class="faq-item">¿Cuáles son los plazos legales que debo tener en cuenta en mi caso? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos asesoramiento jurídico, representación en litigios, y más.</li>
                            <li class="faq-item">¿Cómo puedo obtener una copia de un documento legal importante? <i class="fas fa-plus plus-icon"></i></li>
                            <li class="faq-answer">Ofrecemos asesoramiento jurídico, representación en litigios, y más.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="../../js/respuestas_faqs_desplegable.js"></script>
</body>
</html>
