<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice Law - Seguridad</title>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/config-admin.css">
    
</head>
<body>
    <div class="container">
        <header>
            <input type="text" placeholder="Buscar...">
            <div class="user-info">
                <span>Juan Perez</span>
                <img src="../../img/fotoPerfil.png" alt="User Icon">
            </div>
        </header>
        <aside class="sidebar">
            <div class="logo">
                <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
                <div class="logo-text">
                    <h1>JUSTICE</h1>
                    <p>LAW</p>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><img src="../../img/admin/dashboard.png" alt="dashboard">
                        <a href="#">Dashboard</a></li>
                    <li><img src="../../img/admin/herramientasAnalisis.png" alt="herramientasAnalisis">
                        <a href="#">Herramientas análisis</a></li>
                    <li><img src="../../img/admin/gestionRoles.png" alt="gestionRoles">
                        <a href="#">Gestión de roles y permisos</a></li>
                    <li><img src="../../img/admin/administrarPerfiles.png" alt="administrarPerfiles">
                        <a href="#">Administrar perfiles</a></li>
                    <li><img src="../../img/admin/verificarReseñas.png" alt="verificarReseñas">
                        <a href="#">Verificación de reseñas</a></li>
                </ul>
            </nav>
            <div class="content">
                <ul>
                    <li><img src="../../img/admin/Informaciones.png" alt="Informaciones">
                        <a href="#">Informaciones</a></li>
                    <li><img src="../../img/admin/FAQs.png" alt="FAQs">
                        <a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><img src="../../img/admin/configuraciones.png" alt="configuraciones">
                        <a href="#">Configuración</a></li>
                    <li><img src="../../img/admin/medidasSeguridad.png" alt="medidasSeguridad">
                        <a href="#">Medidas de seguridad</a></li>
                    <li><img src="../../img/admin/ayudaSoporte.png" alt="ayudaSoporte">
                        <a href="#">Ayuda y Soporte</a></li>
                </ul>
            </div>
            <div class="logout">
                <img src="../../img/CerrarSesion.png" alt="CerrarSesion">
                <a href="#">Cerrar Sesión</a>
            </div>
        </aside>
        <main class="main-content">
            <section class="content">
                <div class="container-sect">
                    <div class="header-container">
                      <h1>Configuración></h1>
                      <h4>Configuracion de la cuenta</h4>
                      <div class="search-bar">
                        <input type="text" placeholder="Buscar...">
                      </div>
                    </div>
                    <div class="sections">
                      <div class="section">
                        <ul>
                          <li>Informacion de Perfil</li>
                        </ul>
                      </div>
                      <div class="section">
                       
                        <ul>
                          <li>Propiedad y Control de la cuenta</li>
                        </ul>
                      </div>
                      <div class="section">
                        <ul>                
                          <li>Correo de Recuperacion de cuenta</li>
                        </ul>
                      </div>
                      <div class="section">
                        <ul>
                            <li>Telefono de recuperacion Cuenta por SMS</li>
                        </ul>
                      </div>
                      <div class="section">
                        <ul>
                            <li>Restablecer Contraseña</li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </section>
        </main>
    </div>
</body>
</html>
