<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JusticeLaw</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/configuration.css">
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/bfdeae7cfe.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../../img/logo.jpg" alt="JusticeLaw Logo">
            <div class="logo-text">
                <h1>JUSTICE</h1>
                <p>LAW</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="">
            <img id="filtroBusqueda" src="../../img/FiltroBusqueda.png" alt="Filtro">
            <button>
                <img src="../../img/Lupa.png" alt="Buscar">
            </button>
        </div>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">Foro</a>
            <a href="#">Sobre nosotros</a>
        </nav>
        <div class="user-menu">
            <img class="img-perfil" src="../../img/fotoPerfil.png" alt="foto de Perfil">
            <span>Alfonso Juan</span>
            <input type="checkbox" id="dropdownToggle" class="dropdown-checkbox">
            <label for="dropdownToggle">
                <img class="img-flecha" src="../../img/flechaPerfil.png" alt="flecha">
            </label>
            <div class="dropdown">
                <ul>
                    <li><a href="../perfil_usuario/crearPerfil.html">Perfil</a></li>
                    <li><a href="../historial/historial.html">Historial</a></li>
                    <li><a href="../notification/notification.html">Notificaciones</a></li>
                    <li><a href="../configuracion/configuracion.html">Configuraciones</a></li>
                    <li><a href="#" id="openModal">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="configuration">
            <nav class="sidebar">
                <ul>
                    <div class="titulo">
                        <i class="fa-solid fa-chevron-left" onclick="window.history.back()"></i>
                        <span>Perfil Usuario</span>
                    </div>
                    <li>
                        <a href="../perfil_usuario/perfil_creado.html"><i class="fa-regular fa-user"></i>Información usuario</a>
                    </li>
                    <li>
                        <a href="../historial/historial.html"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
                    </li>
                    <li>
                        <a href="../configuracion/configuracion.html"><i class="fa-solid fa-gear"></i>Configuracion</a>
                    </li>
                    <li>
                        <a href="../notification/notification.html"><i class="fa-regular fa-bell"></i>Notificaciones</a>
                    </li>
                    <li id="cerrarSesion">
                        <a href="../home/home.html"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
                    </li>
                </ul>
            </nav>
            <hr>
            <div class="configuration-content">
                <div class="configuration-header">
                    <a href="../configuracion/configuracion.html"><h3>Configuración</h3> </a> <i class="fa-solid fa-chevron-right"></i>
                    <p>Preferencias</p>
                </div>
                <div class="container">
                    <h4>Privacidad</h4>
                    <div class="checkbox-container">
                        <p>Estado anónimo</p>
                        <div class="checkbox-wrapper-18">
                            <div class="round">
                                <input type="checkbox" id="checkbox-18" />
                                <label for="checkbox-18"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-resources">
            <ul>
                <h3>Recursos</h3>
                <div class="linea1"></div>
                <li><a href="blog">Blog</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-main">
            <h1>JUSTICE</h1>
            <h3>LAW</h3>
            <div class="linea2"></div>
            <a href="https://www.instagram.com/">
                <img src="../../img/Instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/">
                <img src="../../img/Facebook.png" alt="Facebook">
            </a>
            <a href="https://www.youtube.com/">
                <img src="../../img/Youtube.png" alt="Youtube">
            </a>
            <a href="https://www.x.com/">
                <img src="../../img/Twiter.png" alt="Twiter">
            </a>
            <a href="https://www.linkedin.com/">
                <img src="../../img/Linkedin.png" alt="Linkedin">
            </a>
            <div class="linea3"></div>
            <p>&copy; 2024 JusticeLaw - Todos los derechos reservados</p>
        </div>
        <div class="footer-legal">
            <ul>
                <h3>Legal</h3>
                <div class="linea4"></div>
                <li><a href="terminos">Términos de uso</a></li>
                <li><a href="cookies">Política de Cookies</a></li>
                <li><a href="privacidad">Política de privacidad</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>